[2021-01-14 00:08] arschles opened #3 "Update the protobuf file and regenerate code for KEDA 2.0"
The new proto file is here: https://github.com/kedacore/keda/blob/main/pkg/scalers/externalscaler/externalscaler.proto

Note that is has a new `StreamIsActive` RPC

[2021-01-14 00:09] arschles opened #4 "The scaler needs code to ping the interceptors for the queue size"
- The scaler needs to look for the applicable `Service` that fronts the interceptor pods, then reach out to each interceptor pod to get its queue size
- ... interceptors need to have an "admin" endpoint that scalers can ping to get the queue size. this endpoint should run on a different port than the public "forwarder" endpoint, and be behind a `ClusterIP` `Service`

[2021-01-14 00:11] arschles opened #5 "make docker-build-operator fails"
This is the error that it fails with:

[code]

[2021-01-14 00:39] arschles commented on #5
https://github.com/arschles/http-add-on/commit/74dc321bc9017d3794e07b0a5f55bdde58cd8387 will fix this when https://github.com/kedacore/http-add-on/pull/2 is merged

[2021-01-14 00:39] arschles commented on #3
https://github.com/arschles/http-add-on/commit/a0c4ad739c0a7240584afaef43b32b38e836237a will fix this when https://github.com/kedacore/http-add-on/pull/2 is merged

[2021-01-14 00:57] arschles opened #6 "Add service mesh / SMI based scaling"
The interceptor works with the scaler to provide KEDA with the HTTP queue size, which KEDA in turn uses to scale the app. That arrangement lets a user submit a single `HTTPScaledObject` and have the operator create all the moving pieces required (interceptor, scaler, etc...). We should, however, support service meshes, or really any HTTP server that can (a) route traffic from outside the cluster i

[2021-01-14 01:38] arschles commented on #4
https://github.com/arschles/http-add-on/commit/8f8cfd7d53e4b4288571f4bbac754ca112f113ef will close this when #2 is merged

[2021-01-23 01:12] arschles opened #7 "In-place edits for HTTPScaledObject"
After #2, create and delete of `HTTPScaledObject`s works. need to (a) decide what an in-place edit should do and (b) implement it

[2021-01-26 00:48] arschles opened #8 "Outdated API groups in chart"
In #2, the helm chart has outdated API groups. When installing on a modern microk8s cluster:

[code]

The chart should be updated to use the new groups/versions.

[2021-01-27 19:41] #3 closed

[2021-01-27 19:41] #4 closed

[2021-01-27 19:41] #5 closed

[2021-01-27 19:45] arschles opened #9 "Improve the status field of HTTPScaledObjects"
Currently, the `Status` field is not updated

## Expected Behavior

- The `status` field needs to be updated properly after an `HTTPScaledObject` gets created
- The `status` field should have a `conditions` list, similar to the one in `ScaledObject`s. That way, there is an auditable log of mutations of the `HTTPScaledObject`

## Actual Behavior

The status field remains blank

## Steps to Reproduc

[2021-01-27 19:45] arschles commented on #9
cc/ @khaosdoctor

[2021-01-27 19:48] arschles opened #10 "Use an ingress controller"
Instead of creating a `Service` with `type: LoadBalancer` on it for the interceptors, use a single ingress controller (it should be installed by the helm chart) and create an `Ingress` for each new app.

### Use-Case

Users should be able to use their existing ingress controller and have the operator integrate with it. Three use cases:

- A user has a brand new, vanilla k8s cluster and wants to in

[2021-01-27 19:50] arschles opened #11 "Create 2 services for the inteceptors"
Each interceptor has two endpoints, which are treated differently:

- The public proxy port, from which public traffic is directed
-  The "admin" port, which has the `/queue` endpoint on it and the external scaler uses

### Use-Case

The former endpoint should be exposed to the public internet - via `LoadBalancer` as I write this, but with an `Ingress` forthcoming. see https://github.com/kedacore/

[2021-01-27 19:52] khaosdoctor commented on #9
On it

[2021-01-27 19:55] arschles opened #12 "Use an external DNS service to automatically configure subdomains or custom domains"
### Use-Case

Currently, you get an external IP address for a new app you create. That means you have to manually configure DNS to complete the app creation process.

### Specification

It would be nice to remove that extra manual step. Possibly use https://github.com/kubernetes-sigs/external-dns to automate some/all of that process

[2021-01-27 19:58] arschles opened #13 "[Meta] Testing"
### Use-Case

We have almost no automated testing currently. That's terrible! We need to (a) figure out how to test and (b) write unit/integration/e2e tests.

### Specification

- [x] Automate as much of the testing as possible
- [x] Make it run automatically inside GitHub actions

[2021-01-28 07:48] tomkerkhove opened #17 "Provide walkthrough for scaling an app"
Provide walkthrough of how to install (done) and configure an app to scale based on HTTP traffic.

Would help us as maintainers to also keep track of where we are and what the UX is.

[2021-01-28 07:49] tomkerkhove opened #18 "Provide design doc"
Provide design doc elaborating how it currently works, what our dependencies are and how people can plug in.

Ideally this is in a `DESIGN.md` file.

[2021-01-30 00:46] #11 closed

[2021-01-30 00:50] arschles opened #19 "Autoscaling reaction time is slow"
If you create a new app and run this command with [hey](https://github.com/rakyll/hey):

[code]

You'll see that it takes a while for KEDA to make a request to the `GetMetrics` external scaler endpoint, and so it takes a bit of time to scale up.

## Expected Behavior

Application pods should scale up much faster.

## Actual Behavior

Application pods can take 10s of seconds to scale up.

## Steps

[2021-01-30 00:57] arschles opened #20 "Make the operator "maintain" all the app resources it creates"
Currently if you create an `HTTPScaledObject`, the operator will create a bunch of Kubernetes resources to encompass the "app" - things like `Service`s, `Deployment`s, `ScaledObject`s...

If you delete one of those resources, though, the app won't work properly and the operator isn't aware of that. When you go to delete or edit (https://github.com/kedacore/http-add-on/issues/7) the app, the resour

[2021-01-30 00:57] arschles commented on #18
I'll take this

[2021-01-30 00:57] arschles commented on #17
I'll take this

[2021-02-01 17:26] arschles opened #30 "Scale up the interceptor"
### Use-Case

When a lot of traffic comes in, the interceptor should scale up in addition to the app. This will require:

- A second trigger in the `ScaledObject`
- Another metric in the external scaler
- Possibly another queue endpoint on the interceptors (but I think the standard queue size should do it)

### Specification

- [ ] When more traffic enters the system, interceptors should scale up

[2021-02-02 16:58] beriberikix opened #33 "Support Kubernetes Gateway APIs for Ingress"
The network SIG has been hard at work developing the new [Gateway API](https://gateway-api.sigs.k8s.io/), aka Ingress V2. A Gateway is responsible for routing a request to a service. There's already an HTTPRoute [implementation](https://kubernetes-sigs.github.io/service-apis/httproute/). The API has several [integration points](https://kubernetes-sigs.github.io/service-apis/api-overview/#extension

[2021-02-02 18:47] arschles opened #34 "Set up CI & Push Images to GitHub Container Registry"
### Use-Case

Images for the interceptor, scaler and operator need to be pushed to somewhere. Right now, the Makefile hard-codes to push to `arschles/$WHATEVER`. Change that to push to the new GitHub container registry

### Specification

- [ ] Have GitHub Actions automatically run on pushes to `main`
- [ ] Have each run automatically push to the GH container registry

[2021-02-02 20:06] arschles commented on #33
@beriberikix sounds like it'd be useful to have the operate create service API resources instead of (in addition to?) plain old `Ingress` resources that #10 calls for.

Another aspect is metrics. We can do routing with this, but is there a standard metrics API that this comes with? SMI is certainly one solution but something designed explicitly for north-south traffic, as you said in today's meeti

[2021-02-02 22:23] arschles opened #35 "Allow users to scale an existing Deployment"
### Use-Case

Currently you can't start scaling an existing `Deployment`, you can only create a new one by submitting a new `HTTPScaledObject`. It would be helpful to allow someone to submit a new `HTTPScaledObject` to begin scaling an already existing `Deployment`.

This idea came from #31 in [this comment](https://github.com/kedacore/http-add-on/pull/31/files#r568569492)

### Specification

- [

[2021-02-02 23:42] khaosdoctor commented on #9
@arschles can you add me as assignee?

[2021-02-02 23:50] khaosdoctor opened #36 "Way to modify annotations and labels for created resources"
The operator creates all the resources with default labels and specs, it'd be good to add a section to the CRD spec that allowed users to add their own labels and annotations.

A simple use case would be a user who wants to use the HTTP Application Routing add-on from AKS, it needs the annotation in the ingress resource so it can update the DNS records.

[2021-02-03 15:59] tomkerkhove commented on #33
I think the same here @arschles - Folks should be able to choose if we manage it or they bring their own imo

[2021-02-03 16:28] beriberikix commented on #33
💯! It's also entirely possible someone has a very custom Ingress solution and this shouldn't prevent them as well. Services API should be *in addition* to `Ingress` (and user choice which to instantiate), especially since Ingress V1 is currently the only GA supported way and Service API is still in Beta.

@arschles great questions on Metrics. I've asked in #sig-network-service-apis channel for inp

[2021-02-03 20:18] #17 closed

[2021-02-03 20:33] khaosdoctor commented on #34
On it

[2021-02-03 20:35] khaosdoctor opened #38 "Change base docker image to scratch"
The operator is using a distroless image, but the interceptor and the scaler are not. We should change the final base image to further reduce the image size

[2021-02-03 20:35] khaosdoctor commented on #38
This requires #15 to be closed first

[2021-02-04 11:54] hbagdi commented on #33
nit: Service APIs (or Gateway API in future) is in alpha.

That's correct. Based on the community interest, it seems like most ingress controllers will add support for Service APIs in future. Ingress isn't going anywhere.

[2021-02-04 16:49] beriberikix commented on #33
RE: metrics @robscott:

[2021-02-04 18:36] khaosdoctor commented on #8
I think this has been addressed on #2, I checked the files and they are already on the v1 version. I think this issue can be closed

[2021-02-04 18:48] khaosdoctor opened #42 "Improve contrib experience with magefiles"
Today there are a lot of makefiles to run scripts in the project, they're fine but take a while. The `docker-push-all` task runs all the builds sequentially while they could be running in parallel, this is just an example.

I propose to replace makefiles for [magefiles](https://magefile.org/) as @arschles pointed out in one of our discussions and port the scripts to these files. This will allow us

[2021-02-04 19:53] arschles commented on #8
@khaosdoctor I still get the error on https://github.com/kedacore/http-add-on/commit/7502948b6b83ac92a0b72828e62490400fe107fd on a 1.19.6 cluster. Here are the errors I get:

[code]

[2021-02-04 20:22] khaosdoctor opened #44 "Update image names on charts"
Chart image names are wrong after ghcr update on #40

[2021-02-04 20:37] khaosdoctor commented on #8
I don't have this SHA on my tree, is this on a local branch?

![image](https://user-images.githubusercontent.com/3200560/106952218-93fe0280-670f-11eb-9476-3ca8aabc84a5.png)

[2021-02-04 21:02] #18 closed

[2021-02-05 21:18] #34 closed

[2021-02-05 21:27] arschles opened #48 "Cannot pull ghcr.io images"
After https://github.com/kedacore/http-add-on/runs/1841953328?check_suite_focus=true, docker images should have been pushed to GH container registry. It appears from https://github.com/orgs/kedacore/packages that the images didn't get pushed at all, but running `docker pull` tells another story:

[code]

I don't know how reliable that error message is, but I presume that it implies that anonymous

[2021-02-05 21:28] khaosdoctor commented on #48
I think the problem is that the personal access token generated did not include `package:read` permissions. That might be the cause

[2021-02-05 21:31] arschles commented on #48
@tomkerkhove I don't have permissions to look at this. I suspect that the container images need to be made public (https://docs.github.com/en/packages/guides/configuring-access-control-and-visibility-for-container-images#configuring-visibility-of-container-images-for-an-organization). Can you take a look?

[2021-02-05 21:32] khaosdoctor commented on #48
I'm getting a different error, but same stuff

![image](https://user-images.githubusercontent.com/3200560/107091373-7056bd00-67e0-11eb-9427-a8b251ad3dcf.png)

[2021-02-06 06:41] tomkerkhove commented on #48
The error is correct as they are published as private images by default. Feel free to assign to me and I'll make them public asap.

[2021-02-07 13:55] tomkerkhove commented on #48
Please try again. They are now also linked to this repo and available here https://github.com/orgs/kedacore/packages?repo_name=http-add-on

[2021-02-08 15:21] khaosdoctor commented on #48
It seems to be working now. I can download the image :)

[2021-02-08 15:21] khaosdoctor commented on #48
I think #45 and #41 can be merged now

[2021-02-08 18:21] arschles commented on #48
@tomkerkhove thank you!

@khaosdoctor I'm going to merge #45 and cut a release today, then I'll move on to #41 and beyond

[2021-02-08 21:33] arschles commented on #48
Closing as this works now. Thanks everyone

[2021-02-08 21:33] #48 closed

[2021-02-08 22:01] arschles opened #54 "Upgrade to Docker build-push-action v2"
We're on v1 of the action and some things are deprecated. We should upgrade to v2.

https://github.com/marketplace/actions/build-and-push-docker-images

[2021-02-09 17:05] khaosdoctor commented on #44
Closed by #52

[2021-02-09 17:05] #44 closed

[2021-02-09 17:06] khaosdoctor commented on #54
I can do that :) - there's some manual work on the v2 version like the ref and the sha version that need to be done manually but that shouldn't be a problem

[2021-02-10 14:55] tomkerkhove opened #57 "Provide FAQ to compare with Osiris HTTP autoscaling"
Provide FAQ to compare with Osiris HTTP autoscaling elaborating on the differences and why we are deviating.

[2021-02-10 14:55] tomkerkhove opened #58 "Provide FAQ to compare with OpenFaaS HTTP autoscaling"
Provide FAQ to compare with OpenFaaS HTTP autoscaling elaborating on the differences and why we are deviating.

[2021-02-10 14:55] tomkerkhove opened #59 "Provide FAQ to compare with Knative HTTP autoscaling"
Provide FAQ to compare with Knative HTTP autoscaling elaborating on the differences and why we are deviating.

[2021-02-11 18:59] arschles opened #60 "Timing issue when a new app is created"
In some cases, KEDA will attempt to ping the external scaler before it is ready to serve. In this case, KEDA doesn't seem to keep checking for at least a while (more than the 250ms that the `ScaledObject` indicates it should)

We should figure out either why this happens and fix it, or a backup plan would be to add logic in the operator to start up the scaler, ensure it's responsible and only then

[2021-02-11 19:00] arschles opened #61 "Interceptor doesn't always "hold" request when there are no replicas available"
When there's no app available, we shouldn't get a connection refused. The request should hang until the app scales up from 0 to 1. Sometimes the interceptor doesn't do this.

We should also expose a timeout to the user via the `HTTPScaledObject` so that they can configure how long they'd like the interceptor to hold the request

[2021-02-11 19:01] arschles opened #62 "Expose min and max replicas on the HTTPScaledObject"
### Use-Case

Users should be able to specify the minimum (0 or more) and maximum (1 or above) replicas that their app should have. These values map to the `ScaledObject` created behind the scenes.

[2021-02-11 19:04] arschles commented on #10
cc/ @khaosdoctor

[2021-02-11 19:04] arschles commented on #36
cc/ @khaosdoctor

[2021-02-11 19:09] khaosdoctor commented on #42
Doing it on #56

[2021-02-11 19:10] khaosdoctor commented on #12
Needs #36 and #10

[2021-02-11 19:11] khaosdoctor commented on #7
Needs #36

[2021-02-11 19:11] khaosdoctor commented on #36
On it after #42

[2021-02-11 19:13] khaosdoctor commented on #10
Needs #36 for the annotations, I'm on it after that because it'll need some changes on the CRD api

[2021-02-11 19:13] khaosdoctor commented on #7
I'll get on to it after #10

[2021-02-11 19:14] khaosdoctor commented on #12
I'll get on to it after #7

[2021-02-11 19:17] #38 closed

[2021-02-11 23:05] arschles opened #63 "Add branch protection rule"
Add a branch protection rule for the `main` branch to ensure:

- the branch is up to date before merging
- contributors can't push directly to the `main` branch
- status checks all pass before merge
- PR reviews should be done before merge

### Use-Case

The above list is important for the health of all pull requests, because it ensures that the code in them is tested against the up-to-date main b

[2021-02-12 06:47] tomkerkhove commented on #63
Done!

[2021-02-12 06:47] #63 closed

[2021-02-12 07:43] tomkerkhove commented on #35
Any progress on this? I'd say this should be one of our priorities as majority of users would prefer to use this approach (certainly for existing workloads).

[2021-02-12 20:45] arschles commented on #6
Service meshes we should consider supporting:

- Gloo
- LinkerD
- Istio

Others??

[2021-02-12 20:58] tomkerkhove commented on #6
We should only support SMI spec which is an open standard, the others are out of luck ;)

[2021-02-12 21:06] arschles commented on #6
Ah yes, you're right. I just meant that we should look into those service meshes (I have no idea which ones support SMI at the moment) and, if they do, test our integration against them, include them in our docs, and so forth...

[2021-02-12 21:12] arschles opened #64 "Upgrade controller-runtime dependency"
We're currently on [v0.5.0](https://github.com/kedacore/http-add-on/blob/main/go.mod#L18) but the latest version is [v0.8.2](https://pkg.go.dev/sigs.k8s.io/controller-runtime@v0.8.2).

[2021-02-12 21:15] tomkerkhove commented on #6
No problem! You can see all supported service meshes on https://smi-spec.io/

[2021-02-16 18:44] vitarkah commented on #6
AWS App Mesh

[2021-02-23 19:18] arschles opened #72 "Use kedacore/keda ScaledObject types"
Instead of using `unstructured.Unstructured` in the functionality where we [create `ScaledObject`s](https://github.com/kedacore/http-add-on/blob/main/pkg/k8s/scaledobject.go#L30), we should use the actual [`ScaledObject` type](https://pkg.go.dev/github.com/kedacore/keda/v2@v2.1.0/api/v1alpha1#ScaledObject) in KEDA core itself. From experience, we'll probably need to do #64 first.

[2021-02-24 19:16] khaosdoctor commented on #35
I just started #36, I can change the API to add this too, but I'm out of ideas on how to do it the best way.

[2021-02-24 19:16] khaosdoctor commented on #36
#42 is finished, on it

[2021-02-24 19:46] khaosdoctor commented on #36
I'm thinking on changing a bit the API, here's the current one:

[code]

My suggestion:

[code]

[2021-02-24 20:24] arschles commented on #36
@khaosdoctor I'd like to keep the spec simple for now, so how about something that will add annotations to all created resources:

[code]

if there's a use case for custom annotations on some resources but not others, I'm open to breaking out the resources as you suggested. WDYT?

[2021-02-24 20:26] arschles commented on #35
@khaosdoctor I'm good with that. let's split this work out into a separate PR from #36 though. let me know if you'd like me to do one of these

[2021-02-24 23:59] arschles opened #74 "Add documentation for the HTTPScaledObject schema"
We only have the code and example YAML at the moment. We should document this much better in the repo

[2021-02-25 06:18] tomkerkhove commented on #74
Happy to review it along with a sample!

[2021-02-25 06:19] #57 closed

[2021-02-25 06:19] #58 closed

[2021-02-25 06:19] #59 closed

[2021-02-25 14:37] khaosdoctor commented on #35
I think this one would be after #36 since it'd need the new API to work. If you want to do it I'm fine with that :)

[2021-02-25 17:15] khaosdoctor commented on #35
Actually, since this is on the alpha2 milestone I'll get this going ASAP so the API is ready for #36

[2021-02-25 19:06] khaosdoctor commented on #36
No objections here, should I add labels as well?

[2021-02-26 18:58] #9 closed

[2021-03-02 18:40] arschles opened #80 "Document the scope of functionality"
The HTTP add on needs to document the functionality it provides.

### Use-Case

This document will set expectations for new users and developers of the project, and also help guide new feature development, include deciding whether to implement a feature at all.

### Specification

- [ ] A `docs/scope.md` document that outlines the scope of functionality, including clear delineation on where the pr

[2021-03-02 18:41] arschles opened #81 "Document use cases"
We need a document that outlines use cases for the HTTP add on.

### Use-Case

The document should be used by users (prospective and current) of the HTTP add on to guide their decision to use the project, and by developers to decide if/how a feature will fit.

### Specification

- [ ] A new document with use cases on it
- [ ] A link from the README to this new document

[2021-03-02 19:51] khaosdoctor commented on #8
Updated on charts and kustomize:

![image](https://user-images.githubusercontent.com/3200560/109706289-85bcce00-7b77-11eb-906c-d8f269863fbd.png)

Versions are compatible, so nothing more to do

[2021-03-02 20:08] khaosdoctor commented on #64
I think this has been updated already here: https://github.com/kedacore/http-add-on/commit/ebef98e5147b78f83b91b9337c76782f48ee926f#diff-33ef32bf6c23acb95f5902d7097b7a1d5128ca061167ec0716715b0b9eeaa5f6

[2021-03-03 18:53] arschles commented on #64
Right you are. Thanks @khaosdoctor

[2021-03-03 18:53] #64 closed

[2021-03-05 21:13] #8 closed

[2021-03-05 21:14] arschles commented on #12
Out of scope. See #82

[2021-03-05 21:14] #12 closed

[2021-03-08 12:37] khaosdoctor commented on #36
Closing this one up because of #35 becoming the main workflow for users

[2021-03-08 12:37] #36 closed

[2021-03-08 12:39] khaosdoctor commented on #20
I think this one can be closed too, @arschles. Since #35 will modify the default way to use the add-on, it will not be needed to maintain created resources except for the ScaledObject

[2021-03-08 13:01] tomkerkhove commented on #20
It will still have to maintain the ScaledObject and the interceptor service, thought.

[2021-03-08 18:20] #54 closed

[2021-03-08 22:58] #42 closed

[2021-03-09 19:57] arschles commented on #10
closing, as this is out of scope

[2021-03-09 19:57] #10 closed

[2021-03-11 18:31] khaosdoctor commented on #74
@tomkerkhove I can create an initial version and upload it here so we have all the docs ready, then we can change it when we update

[2021-03-12 06:22] tomkerkhove commented on #74
That's fine for me! But for me it's ok if it's in the repo already and we change it there as well.

[2021-03-15 18:08] arschles opened #97 "Use the external push gRPC protocol for external scaler => interceptor communication"
We currently use a simple HTTP/JSON protocol for the scaler to communicate with the interceptor. Because this protocol is just request/response, it has limitations on latency that can cause very slow scale up times, which are especially noticeable when scaling up from 0 replicas.

It would be helpful to have some kind of two way protocol rather than what we have now. The [external push](https://ke

[2021-03-15 18:15] arschles opened #98 "Add documentation on using the interceptor or scaler without other components"
The operator exists for convenience, and you can use the interceptor or scaler without the other pieces of the puzzle. It would be nice to have documentation on how to do so.

### Use-Case

Some folks might want to use these components in isolation, without the rest of the system, so we should document how to do so

[2021-03-15 23:22] arschles opened #99 "Add some color coding to the architecture diagram"
The arch. diagram - including the new one in #93 - is a single color, and it's difficult to follow everything. It's also difficult to understand what components are part of the add on, and which are not (as pointed out by @tomkerkhove).

We should add some color to it, and any other indicators to help make the distinction

[2021-03-15 23:26] #62 closed

[2021-03-15 23:32] arschles commented on #74
I added a reference for it in https://github.com/kedacore/http-add-on/pull/78 - sorry I forgot to tab this issue in there!

[2021-03-16 06:04] tomkerkhove commented on #98
Just curious, when would somebody prefer not to use the operator?

[2021-03-16 06:20] tomkerkhove opened #101 "Provide support for scaling from 0 -> n and vice versa"
Provide support for scaling from `0 -> n` and vice versa s that KEDA handles everything rather than just activation.

This should follow the KEDA core approach where it can create an HPA for the user or fully rely on external push.

[2021-03-16 20:13] arschles opened #104 "Deploy helm charts to a repository"
Currently, we just instruct people to install from source. It would be nicer and more convenient to deploy charts to a helm repo so that we can instruct people to install without making them check out the code first.

### Use-Case

Instead of requiring folks to `git clone https://github.com/kedacore/http-add-on.git` before they run a `helm install`, I'd like folks to be able to run a `helm repo ad

[2021-03-17 06:37] tomkerkhove commented on #104
Let's put them in https://github.com/kedacore/charts to consolidate them, they will then show up on artifact hub as well.

[2021-03-17 16:43] arschles commented on #6
As part of this work, we need to add documentation - including updating the architecture diagram - explaining how service meshes integrate with the HTTP add on

[2021-03-17 16:45] #81 closed

[2021-03-17 16:46] arschles commented on #104
@tomkerkhove I'll submit a PR to kedacore/charts then. 👍

[2021-03-17 18:17] arschles commented on #104
Going to do this after #78 is complete, since that includes a fairly large chart change

[2021-03-17 18:18] arschles commented on #99
This was done in #83

[2021-03-17 18:18] #99 closed

[2021-03-19 19:57] arschles opened #107 "Add configuration parameters for operator-created services"
After https://github.com/kedacore/http-add-on/pull/78#pullrequestreview-615892955, the operator will create the interceptor and external scaler, but not target application resources.

### Use-Case

As part of that PR, the operator will create the `Service` that routes to the interceptor, and users will need to point traffic to that service. Since the `Service` is part of the critical request path

[2021-03-19 19:58] #35 closed

[2021-03-19 19:58] #74 closed

[2021-03-22 19:06] #30 closed

[2021-03-22 22:04] arschles commented on #98
I think it's possible that somebody would want to customize their install, and would rather not use the operator to set things up for them. One possibility is if they have a special requirements for traffic routing between their ingress / service mesh infrastructure into the scaling infrastructure.

[2021-03-23 20:18] khaosdoctor commented on #107
Taking this one

[2021-03-24 21:59] #72 closed

[2021-03-25 23:53] relferreira opened #113 "Walkthrough not working on k8s 1.19.3"
I'm trying to recreate the walkthrough but without success. The operator was installed, but after creating the `HTTPScaledObject` the `keda-http-addon-controller-manager` could not create the proxy service.

Thanks a lot for this project, it is exactly what I was looking for.

Sorry if this error was already discussed.

## Expected Behavior
`keda-http-addon-controller-manager` should have created

[2021-03-26 16:29] #113 closed

[2021-03-27 11:11] relferreira commented on #113
Sorry, I think I'm using an older version then the one described in the docs.
I couldn't find the latest commit in the package registry. Where can I pull it?

Thanks again.

[2021-03-29 17:26] arschles commented on #101
@tomkerkhove I'm not 100% sure what you mean here. Can you elaborate on "everything rather than just activation"

[2021-03-29 17:41] arschles opened #115 "Make image pull policy configurable on helm chart"
Right now, it's hard-coded to `Always`. We should make that configurable.

### Use-Case

Some folks might rather not always re-pull images, especially for the scaler and interceptor, which might be spinning up and down repeatedly, if they add more apps or, in the case of the interceptor, traffic increases happen.

### Specification

- [ ] A new value is in `values.yaml` called `operator.pullPolicy

[2021-03-29 17:59] tomkerkhove commented on #101
Doing more than 0->1 and 1-> but like we've chatted you are already building this :)

[2021-03-30 15:44] tomkerkhove opened #117 "Documentation should use native commands instead of Make"
Documentation should use native commands instead of Make so that people who don't use Makefiles can follow along.

[2021-03-30 15:51] tomkerkhove opened #118 "examples/httpscaledobject.yaml is outdated"
examples/httpscaledobject.yaml is outdated

[2021-03-30 15:57] tomkerkhove opened #119 "Provide detailed information when doing `get httpscaledobject`"
Provide detailed information when doing `get httpscaledobject` similar to KEDA core.

[2021-03-30 16:55] arschles opened #120 "Create a dev container"
VS Code [dev containers](https://code.visualstudio.com/docs/remote/create-dev-container) are a technology that let us define and use a docker container for the development environment.

### Use-Case

Setting up the development environment for the HTTP add has a few steps including setting up Go and kubebuilder, so it would be really useful to pre-configure this with a `Dockerfile` and define a dev

[2021-03-31 17:22] arschles commented on #118
@tomkerkhove is something in it not working for you? It looks up to date to me but I might be missing something

[2021-03-31 17:24] arschles commented on #119
@tomkerkhove I'm assuming you mean fields like [these](https://github.com/kedacore/keda/blob/main/api/v1alpha1/scaledobject_types.go#L9-L20)? I'll submit a PR for this today so you can take a look.

[2021-03-31 17:35] tomkerkhove commented on #119
Sounds good, thanks!

[2021-03-31 18:06] arschles commented on #118
No problem whatsoever @tomkerkhove :)

[2021-03-31 18:11] #119 closed

[2021-04-06 18:17] khaosdoctor commented on #120
Taking on this one

[2021-04-06 19:16] khaosdoctor commented on #104
Took the time to do it today! Take a look at #125 please

[2021-04-12 19:03] arschles opened #130 "Add docker builds in GH Actions"
https://github.com/kedacore/http-add-on/pull/129 has shown that we need to add a check that runs `docker build` in a GitHub action for all three components. This issue is for doing that.

[2021-04-12 19:17] arschles opened #132 "The GitHub action for publishing canary images is broken"
See here: https://github.com/kedacore/http-add-on/runs/2239521499

## Expected Behavior

The action successfully pushed canary images on each push to the `main` branch. This appears to be related to https://github.com/kedacore/http-add-on/issues/130

## Actual Behavior

It fails

## Steps to Reproduce the Problem

  1. Merge a PR or push to `main`
  2. Go to the GitHub action for "Push canary imag

[2021-04-12 19:29] arschles opened #134 "Add tests to install the HTTP add on to a cluster"
Similar to how KEDA has [e2e tests](https://github.com/kedacore/keda/tree/main/tests) that install it to a cluster and interact with it via commands similar to what a user would do with `kubectl`, the HTTP add on should do something similar.

At the very least, we should have tests that install the whole system via the helm charts. Can do this in a similar manner that [Athens uses](https://github.

[2021-04-12 19:40] arschles commented on #13
This was an intentionally vague issue. When it was written, there was almost no testing coverage. We have enough testing coverage now to close this and create targeted, measurable issues from here on.

[2021-04-12 19:40] #13 closed

[2021-04-12 19:48] #61 closed

[2021-04-13 06:01] tomkerkhove opened #138 "Provide Helm chart linting & deployment in CI"
Provide Helm chart linting & deployment in CI to verify the chart is still valid.

You can use inspiration from https://github.com/kedacore/charts/blob/master/.github/workflows/ci.yml

[2021-04-14 17:41] #117 closed

[2021-04-14 17:45] #130 closed

[2021-04-14 17:45] #132 closed

[2021-04-14 17:52] arschles commented on #138
@tomkerkhove will this still be applicable in #125 ?

[2021-04-14 18:01] arschles commented on #101
so @tomkerkhove #85 added minimum and maximum replicas but beyond that, I think we need to specify the use case(s) more precisely. can you elaborate?

[2021-04-14 18:05] arschles commented on #115
@khaosdoctor would you be up for either integrating this into #125, or doing it in a follow up?

[2021-04-14 18:06] arschles commented on #134
Depends on #125 because we'll be sourcing the chart from a new place (official keda charts repo rather than local filesystem)

[2021-04-14 18:07] tomkerkhove commented on #138
Yes, we should have it in the new repo

[2021-04-14 19:30] khaosdoctor commented on #115
Sure thing, I think I can do it following up to make things separated.

[2021-04-14 19:45] arschles opened #139 "Add tests to the scaler"
The scaler has very little testing (it will have slightly more after #116)

### Use-Case

More test coverage for the scaler

### Specification

- [ ] Tests for the gRPC handler
- [ ] Tests for the queue pinger

[2021-04-14 20:11] arschles opened #141 "Add tests for the scaler gRPC handler"
The scaler's gRPC handler has no test coverage for the [gRPC handler](https://github.com/kedacore/http-add-on/blob/main/scaler/handlers.go). This issue is to add tests for the handler

[2021-04-15 18:15] arschles commented on #115
Thank you! Up to you which you decide to do 👍

[2021-04-15 18:16] arschles commented on #138
Ok, great. I'm closing this then. Thanks @tomkerkhove

[2021-04-16 08:23] tomkerkhove commented on #138
I'd keep it open until it's added though.

[2021-04-22 18:19] arschles opened #147 "SHA / canary images are not getting pushed to GH container registry"
[Here](https://github.com/kedacore/http-add-on/runs/2398479931#step:6:148) is an example

## Expected Behavior

Each commit to `main` pushes a `sha-$GIT_SHA` image to GHCR and pushes a new `canary` tag

## Actual Behavior

See the failure linked above

## Steps to Reproduce the Problem

  1. Push to `main`
  2. Observe the canary GH action fail

[2021-04-22 18:20] arschles commented on #113
@relferreira sorry I missed this - looks like for some reason it got closed before I saw it in my notifications! the latest official releases are are below:

- [scaler](https://github.com/orgs/kedacore/packages/container/http-add-on-scaler/1082285?tag=v0.0.1)
- [operator](https://github.com/orgs/kedacore/packages/container/http-add-on-operator/1082287?tag=v0.0.1)
- [interceptor](https://github.com

[2021-04-22 19:08] arschles commented on #147
This is still broken. Looks like we need to open access for the `GITHUB_TOKEN` to write to GHCR. See https://github.blog/changelog/2021-03-24-packages-container-registry-now-supports-github_token/

[2021-04-23 06:58] tomkerkhove commented on #147
Done

[2021-04-23 17:05] arschles commented on #147
Thanks!

[2021-04-23 17:05] #147 closed

[2021-04-27 18:41] khaosdoctor commented on #115
Already did it along because it was taking a while, so I wanted to close all possible issues

[2021-04-27 18:42] khaosdoctor commented on #115
Now I just need to set it up on the operator

[2021-05-02 18:31] ajanth97 opened #159 "Setting a dynamic target metric size"
### Why this is necessary
Currently the target metric is hardcoded at 100, as a result the scaling up happens quite slowly and the ratio of the **Number of pods** : **Load (Number of concurrent requests)** is quite low which leads to fewer pods available to handle the traffic. This could lead to lower TPS and higher latency on a service.

### Load test results
I ran a load test using Jmeter on a s

[2021-05-04 17:56] arschles commented on #159
thank you @ajanth97 for doing this investigation! I left a comment [in the discussion](https://github.com/kedacore/http-add-on/discussions/142#discussioncomment-695129)

[2021-05-04 18:32] arschles opened #160 "Write documentation for doing local testing"
Something like:

- build and push the images with mage
- `helm install` into your cluster
- use k9s and hey to do load testing

Put this into `contributing.md` probably

[2021-05-06 23:26] #115 closed

[2021-05-11 05:51] tomkerkhove opened #165 "Remove `v` in image tags"
Remove `v` in image tags to align with KEDA core and other products so that it is a more consistent experience.

[2021-05-18 18:28] khaosdoctor commented on #104
This one could be closed I think. #125 is a bit stuck

[2021-05-18 18:55] #60 closed

[2021-05-18 22:34] #104 closed

[2021-06-02 19:13] ajanth97 opened #174 "runtime.Object is nil error on the logs of the interceptor pod"
2021/06/02 16:31:35 Interceptor started, forwarding to service bal-test:80, watching deployment bal-test
2021/06/02 16:31:35 proxy server starting on 0.0.0.0:8091
2021/06/02 16:31:35 admin server running on 0.0.0.0:8090

   ____    __
  / __/___/ /  ___
 / _// __/ _ \/ _ \
/___/\__/_//_/\___/ v4.2.2
High performance, minimalist Go web framework
https://echo.labstack.com
___________________________

[2021-06-03 18:37] #165 closed

[2021-06-15 22:11] arschles commented on #174
@ajanth97 thanks for finding/reporting this! I think the error comes from [here](https://github.com/kedacore/http-add-on/blob/main/pkg/k8s/deployment_cache.go#L60), where we're not checking if the type assertion worked. In fact, we're doing a similar thing here: https://github.com/kedacore/http-add-on/blob/main/interceptor/forward_wait_func.go#L41. In the latter case. I'll submit a PR to fix both.

[2021-06-16 11:25] ajanth97 commented on #174
@arschles thank you, will look into this shortly

[2021-06-16 16:42] yaron2 opened #183 "Economy of scale"
From what I can see, for every new deployment that needs to be scaled down to zero, there are two _additional_ deployments that occur:

1. Interceptor
2. External scaler

As these deployments are not scaled down to zero and take resources from the cluster, the benefits of scale to zero are greatly reduced at best (if the user deployment takes equal or more resources than the interceptor and extern

[2021-06-16 17:17] arschles commented on #183
@yaron2 are you interested in making a change? It would be certainly possible to make the interceptor and scaler multi-tenant if you're interested in that.

[2021-06-16 17:21] yaron2 commented on #183
I am certainly interested in that, but I'm not sure it's "me" being interested in that as much as its about every user should be interested in that, because without a multi-tenant interceptor and external scaler I don't see any real benefit to running the HTTP add-on, again, unless I am missing something obvious?

[2021-06-16 17:36] arschles commented on #183
Autoscaling your HTTP workloads would be one major benefit that persists even though you can't (currently) scale the interceptor or external scaler to zero. Regardless, yes, it would certainly be more resource efficient to run multi-tenant interceptors and scalers.

[2021-06-16 17:39] yaron2 commented on #183
Yeah I'm talking specifically about the scale to zero part. I didn't see 1:N autoscaling so far, but that can be achieved with the Prometheus scaler today, albeit in a more cumbersome way.

[2021-06-16 17:42] arschles commented on #183
got it. yea, if you're looking to truly scale resources to zero on your cluster, you couldn't use the HTTP addon. Would you be interested in helping design and/or build these multi-tenant components?

[2021-06-16 19:55] yaron2 commented on #183
I could probably help with design, for sure.

[2021-06-17 05:34] tomkerkhove commented on #183
@yaron2 We want to support 1:N scaling as well because we don't want to force people to use Prometheus. For example, my customers always use Azure Monitor and should not have to run Prometheus because of that.

[2021-06-17 17:11] yaron2 commented on #183
Yeah I understand, I totally support doing 1:N scaling. we should just make sure this is done in a way that isn't too costly on cluster resources.

[2021-06-17 20:42] arschles opened #185 "Binaries are not built in Dockerfiles with GOOS and GOARCH"
I built all 3 docker images on an M1 Mac, pushed them to a docker registry, and then @ajanth97 deployed them to his Kubernetes cluster. The pods went into CrashLoopBackoff with the following long line:

[code]

## Expected Behavior

The pods starts up properly

## Actual Behavior

The pods all go into `CrashLoopBackoff`

## Steps to Reproduce the Problem

  1. run `mage dockerbuild dockerpush` fro

[2021-06-19 07:28] hieumoscow opened #187 "Failed to pull operator image when using Helm"
A clear and concise description of what the bug is.

ImagePullBackOff issue after installing `kedacore/keda-add-ons-http` char

## Expected Behavior

K8s able to pull

## Actual Behavior

```Warning  Failed     35m (x4 over 37m)      kubelet            Failed to pull image "ghcr.io/kedacore/http-add-on-operator:vv0.1.0-v1alpha1": rpc error: code = Unknown desc = Error response from daemon: name un

[2021-06-19 09:32] tomkerkhove commented on #187
Thanks for reporting! What Helm registry did you use?

[2021-06-19 13:44] blackmann commented on #187
Workaround is to edit the deployment and provide the latest version from here [](https://github.com/kedacore/http-add-on/pkgs/container/http-add-on-operator) using:

`kubectl edit deployment keda-add-ons-http-controller-manager`

[2021-06-19 21:55] blackmann opened #188 "ScaledObject not created/found"
A clear and concise description of what the bug is.

The `<deploy>-external-scaler` and `<deploy>-interceptor-proxy` vanish after few seconds of creating `httpscaledobject`

## Expected Behavior
`ScaledObject` should be created so that the scaler and proxy can stay.

## Actual Behavior
`ScaledObject` does not get created. The following log is pulled from `kubectl logs keda-add-ons-http-controller-

[2021-06-20 08:51] hieumoscow commented on #187
Hi @tomkerkhove, it was from the kedacore charts repo.
[code]

[2021-06-20 08:58] tomkerkhove commented on #187
I Will take a look at it, thanks!

[2021-06-20 09:01] hieumoscow commented on #187
In addition, when I tried to install the chart from the cloned **charts** repo.  It also faced the same error as the published tag is [v0.0.1](https://github.com/kedacore/http-add-on/pkgs/container/http-add-on-operator/versions), whereas the `default .Chart.AppVersion` is [0.0.1](https://github.com/kedacore/charts/blob/b2b469c22a542de95a5d151888ac2d1ca5980a9e/http-add-on/Chart.yaml#L23).

Thanks f

[2021-06-20 13:44] blackmann commented on #188
After logs digging, it appears the wait time for scaler here [httpscaledobject_logic.go:226](https://github.com/kedacore/http-add-on/blob/929fc9707e3b2b808ff67fd0ce70503d3e1f7961/operator/controllers/httpscaledobject_logic.go#L266) is very short considering the fact that the images have to be pulled (and may exceed 5*500milliseconds = `2.5seconds`) due to network speed. And even for a fast network

[2021-06-20 18:16] tomkerkhove commented on #188
What version are you running?

[2021-06-20 18:18] tomkerkhove commented on #187
@arschles What's the roadmap for v0.1.0? Are we shipping this week? Because this will be fixed in v0.1.0.

[2021-06-20 18:19] blackmann commented on #188
All `canary`

[2021-06-22 17:56] arschles commented on #188
thanks @blackmann - I'm gonna look into this as soon as I can 👍

[2021-06-22 17:57] arschles opened #190 "Update issue template"
The issue template currently asks for KEDA version. It should also ask for the HTTP Add-on version

### Use-Case

When people submit an issue, they are asked for the KEDA version. We should also ask them for the HTTP add-on version so that we can more accurately diagnose the issue.

[2021-06-22 18:44] arschles commented on #187
@tomkerkhove we can do 0.1.0 any time. I had to miss the developer meeting this morning, but I was going to get final sign-off on the release then.

[2021-06-22 23:32] arschles commented on #183
@yaron2 I've begun a draft design doc: https://hackmd.io/@arschles/mutitenant-keda-http-addon

there are a few places where it's a bit rough - the biggest one is pushing routing table updates to interceptors and verifying that they've updated their in-memory copy.

let me know what you think

[2021-06-23 21:53] arschles commented on #187
@tomkerkhove looks like this is not fixed in 0.1.0 yet. We'll need https://github.com/kedacore/charts/pull/163 to be merged

[2021-06-23 22:25] arschles commented on #188
@blackmann you mentioned in https://github.com/kedacore/http-add-on/issues/188#issuecomment-864557635 that you'd like to add something. were you referring to changing `retriesCount` to 40? if so, feel free. another change to add while you're at it, is making that hard-coded 500ms configurable via an environment variable.

what do you think?

[2021-06-24 06:20] #190 closed

[2021-06-24 06:35] tomkerkhove opened #195 "Document release process"
We should document the steps that are required for making a release as per https://github.com/kedacore/keda/blob/main/RELEASE-PROCESS.MD.

This should include our Helm chart and our Artifact Hub metadata ([example](https://github.com/kedacore/external-scalers/pull/9))

[2021-06-24 06:37] tomkerkhove commented on #187
It is not because of the missing chart or because it's still not fixed?

[2021-06-24 12:15] mhulscher opened #196 "Does not install on clusters where running containers as root is not allowed"
The keda http-add-on can not be installed and doesn't work in clusters where containers are forced to run as non-root.

It would be nice if we could configure each containers' securityContext in the helm-charts `values.yaml`.

## Expected Behavior

Helm-chart should install and creating a HTTPScaledObject should successfully start components in target namespace.

## Actual Behavior

All components

[2021-06-24 14:24] arschles opened #197 "0.1.0 Docker images failed to get pushed to GH Container Registry"
After the 0.1.0 release was cut, it looks like the images tagged `0.1.0` didn't get pushed.

## Expected Behavior

The release images got pushed

## Actual Behavior

They didn't

## Steps to Reproduce the Problem

  1.
  2.
  3.

## Specifications

- **KEDA Version:** *Please elaborate*
- **KEDA HTTP Add-on Version:** *Please elaborate*
- **Platform & Version:** *Please elaborate*
- **Kubernetes V

[2021-06-24 14:26] arschles commented on #196
Thanks @mhulscher - I'll take a look at this. It will require changes to the [helm chart](https://github.com/kedacore/charts) as well as code in the [operator](https://github.com/kedacore/http-add-on/tree/main/operator).

[2021-06-24 14:42] tomkerkhove commented on #197
Looks like it wasn't triggered: https://github.com/kedacore/http-add-on/actions/workflows/build_release.yml

[2021-06-24 14:42] tomkerkhove commented on #197
I think it's due to the filter: https://github.com/kedacore/http-add-on/blob/main/.github/workflows/build_release.yml#L5

[2021-06-24 14:57] arschles commented on #197
See this error in GH actions: https://github.com/kedacore/http-add-on/runs/2906000365?check_suite_focus=true#step:6:107

[2021-06-24 15:10] arschles commented on #197
@tomkerkhove I re-tagged the release with `v0.1.0`, rather than the `0.1.0` that it was before, but now there is a second issue: https://github.com/kedacore/http-add-on/pull/198, which I think I fixed in that PR. When I re-run the workflow, though, it appears to be using the old YAML at the tag, rather than the new

[2021-06-24 15:34] arschles commented on #197
Ok, it looks like this is solved. I did the following:

1. Delete the `v0.1.0` (and `0.1.0`, which I created by accident) tags
2. Remove the GH release that corresponds to the `v0.1.0` tag
3. Fix the build-release.yml GitHub actions file in #198
4. Re-create the release
5. The operator job on the job to publish tag images (`Publish official image to GitHub Container Registry`) succeeded, the other

[2021-06-24 15:34] #197 closed

[2021-06-24 22:32] arschles commented on #187
@tomkerkhove it is now fixed :) [here](https://github.com/kedacore/http-add-on/pkgs/container/http-add-on-operator/3390422) is the `0.1.0` operator image. I am closing this issue. @hieumoscow can you please open a new issue if you encounter the problem again?

[2021-06-24 22:32] #187 closed

[2021-06-24 22:56] arschles commented on #188
@blackmann absolutely, that would be wonderful. please feel free to DM me if you have any questions. I am `arschles` on the Kubernetes slack.

[2021-07-01 05:24] #174 closed

[2021-07-01 22:33] #185 closed

[2021-07-20 07:37] #195 closed

[2021-07-29 13:08] khaosdoctor commented on #183
@ajanth97 Raised a concern about the `isActive` methods in the external scaler interface that will probably be addressed in this too. I'm just waiting for an issue to be created so we can track that down

[2021-07-29 13:42] khaosdoctor commented on #183
@arschles added a few comments on the document too, see if they're helpful

[2021-07-29 18:58] ajanth97 opened #214 "Not scaling to 0"
## Expected Behavior
Scale to 0 when there is no traffic in the HTTP Request queue
## Actual Behavior
Always at a minimum of 1 replica
## Steps to Reproduce the Problem

I discussed with @arschles and @khaosdoctor about this problem and based on our investigations this behavior is caused by the following:

https://github.com/kedacore/http-add-on/blob/main/scaler/handlers.go#L33-L40

The `isActive`

[2021-07-29 21:58] arschles commented on #214
@ajanth97 are you wanting #206 to fix this issue?

[2021-07-30 04:37] ajanth97 commented on #214
Yes I'd love to work on the fix.

[2021-07-30 21:25] arschles commented on #183
Thanks @khaosdoctor !

[2021-08-02 21:17] arschles commented on #214
@ajanth97 wonderful. care to do it as a branch off of #206? that PR will change a lot of code, so it would likely be more efficient to do it that way

[2021-08-03 08:55] ajanth97 commented on #214
Sure will make the change in a new branch

[2021-08-07 13:46] benjaminhuo opened #219 "Send metrics to scaler to avoid latency in cold start"
I can see from the code that the scaler will pull the metrics every 500 ms to determine whether to scale.

https://github.com/kedacore/http-add-on/blob/main/scaler/queue_pinger.go#L49
https://github.com/kedacore/http-add-on/blob/main/scaler/main.go#L40
It’s hardcoded in the http-add-on’s source code to 500ms

This could introduce inevitable latency when scaling up from 0

what I can see from knati

[2021-08-11 16:30] arschles commented on #219
@benjaminhuo is the push interface described in https://github.com/kedacore/http-add-on/issues/97 suitable to achieve this?

[2021-08-12 01:21] benjaminhuo commented on #219
@arschles Yeah, exactly. I can see the external push interface is marked as unimplemented in keda-http-addon.
It'll be great to have this added!

[2021-08-12 01:21] #219 closed

[2021-08-12 01:23] benjaminhuo commented on #97
Is there any plan to implement the external push interface?

[2021-08-16 20:31] arschles commented on #219
wonderful. stay tuned on #97. we'll likely start working on it shortly after the big #206 is merged and released

[2021-08-16 20:32] arschles commented on #97
@benjaminhuo we would likely implement the external push interface or something similar but simpler (because my guess is we won't need all the complexity of the current external push interface)

[2021-08-16 21:22] arschles opened #225 "Have interceptors record what routing table version(s) they are aware of"
In #206, interceptors have to stay up to date on a namespace-global routing table. It would be helpful to provide a way for interceptors to confirm that they have gotten a specific version of the routing table.

### Use-Case

I imagine the most common use case for this functionality would be to ensure that all interceptors are aware of the most up to date routing table.

### Specification

The imp

[2021-08-17 02:10] benjaminhuo commented on #97
Looking forward to seeing this added!

[2021-08-17 23:38] arschles opened #226 "Convenience CLI"
The standard best practice way to scale a `Service`/`Deployment` pair is to create an `HTTPScaledObject` and submit it in a `Helm` chart, with `kubectl create -f`, or some other equivalent. It would be nice to provide another way to do so without requiring users to write the YAML for the `HTTPScaledObject`.

### Use-Case

I would like to enable users - especially first-time users - to begin scalin

[2021-08-18 00:32] arschles opened #228 "Check for config maps to be changed in the operator routing table tests"
In #206, we have tests to ensure that the operator properly updates the routing table and `ConfigMap`. The tests, however, don't check to make sure the `ConfigMap` that holds the routing table is updated.

The operator uses the `client.Client` in [sigs.k8s.io/controller-runtime/pkg/client](https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/client), and I don't see any way to create a fake versi

[2021-08-18 17:06] arschles commented on #97
Same here @benjaminhuo. @ajanth97 and I are going to come up with a design in the near future and the current plan is he's going to implement it. This will probably all start in earnest after the big #206 is merged.

Let me know if you'd like to get involved - you're certainly welcome to!

[2021-08-18 18:41] khaosdoctor commented on #225
I think the easiest way to do this is to have a simple endpoint on the admin server that will just echo the configMap resource version the interceptor has. The operator can compare that to the latest one fetched from the configMap itself and request an update if needed (there would be the need of an endpoint for that too)

[2021-08-18 19:53] arschles opened #230 "Documentation for target metric"
After #168, we should add documentation for how and why to set the `targetPendingRequests` config parameter.

[2021-08-18 20:42] arschles opened #231 "Create config / Dockerfile for dev containers"
The container should have at least:

- Go
- Mage
- controller-gen
- kubectl
- helm
- k9s

[2021-08-18 22:41] arschles commented on #225
@khaosdoctor, that would be the second bullet, correct?

[2021-08-19 01:26] benjaminhuo commented on #97
@arschles Yes sure, I'm happy to get involved!

[2021-08-19 17:47] ajanth97 commented on #97
Awesome

[2021-08-19 18:16] arschles opened #234 "TargetPendingRequests not respected on HTTPScaledObjects"
After #206, you can set `targetPendingRequests` on a `HTTPScaledObject`, but it isn't respected if it's different from the default.

## Expected Behavior

The external scaler returns that target to KEDA when requested

## Actual Behavior

The external scaler always returns 100

## Steps to Reproduce the Problem

1. Check out the branch for PR #206
1. Install the chart from PR https://github.com/ke

[2021-08-19 23:12] arschles opened #235 "Interceptor holds request for a long time on scale-from-zero request"
In #206, the behavior of scale-from-zero requests is slightly changed and the interceptor no longer forwards requests properly when an app scales from zero up to >1

## Expected Behavior

The request is forwarded quickly after the pod is scaled up from zero.

## Actual Behavior

The request is held indefinitely.

## Steps to Reproduce the Problem

1. Scale an app to zero
1. Issue an HTTP request t

[2021-08-20 02:31] benjaminhuo commented on #97
That's a great place to start

[2021-08-22 16:59] ajanth97 commented on #235
Yes I have experienced this with the new multi-tenant interceptor. Any ideas ?

[2021-08-23 17:58] arschles commented on #235
not sure yet, but working on it in #206

[2021-08-23 18:56] ajanth97 commented on #235
Great ill try to look too at what part of the interceptor is causing this behaviour

[2021-08-23 19:35] arschles commented on #235
@ajanth97 I think I've found the culprit! https://github.com/kedacore/http-add-on/blob/a0a7969a6db3569151227c771f1657310e541f0d/pkg/k8s/deployment_cache.go#L56

I'm going change this channel receive to happen in a `select` and add some additional `case` statements in that `select` to:

- watch for the context cancellation/timeout: `case <-ctx.Done(): // cancel the goroutine here`
- periodically fe

[2021-08-23 20:12] arschles opened #238 "End to end and stress tests"
We currently have mostly unit tests inside this repository, along with a few integration tests (like one for the interceptor coming in #206). I propose that we add more testing strategies to this project, including:

- **end to end**: a test that installs the addon to a Kubernetes cluster along with KEDA and any other dependencies, installs an app and an `HTTPScaledObject`, and runs a quick suite

[2021-08-23 20:13] arschles commented on #238
@ajanth97 are you interested in implementing either one of these at some point?

[2021-08-23 21:14] khaosdoctor commented on #225
Yep, just agreeing with that haha

[2021-08-23 23:18] arschles opened #239 "Add TODO bot to this repository"
https://github.com/apps/todo

[2021-08-24 04:29] arschles commented on #225
perfect - just wanted to make sure we're on the same page. after #206 (which I'm planning on merging very soon) are you interested in taking this one on?

[2021-08-24 05:57] tomkerkhove commented on #239
I'm using https://github.com/marketplace/check-todo but can add that one for you if you want.

[2021-08-24 05:57] tomkerkhove commented on #239
Ha this one creates issues, ok. let me know if I have to add it.

[2021-08-24 07:37] ajanth97 commented on #235
Nice, Well done !

[2021-08-24 16:10] arschles commented on #239
@tomkerkhove the check-todo one sounds good to me since you're using it already. it looks like I'm unable to add it, so yes, can you please add that one?

[2021-08-24 18:41] tomkerkhove commented on #239
Done!

[2021-08-24 18:41] #239 closed

[2021-08-24 22:24] arschles commented on #239
Thanks @tomkerkhove !!

[2021-08-25 05:36] nilesh93 opened #240 "Make interceptor Cluster bound instead of namespace bound"
Interceptor should be able to run in an admin namespace (eg: keda-http) and should be able to forward traffic to multiple services in multiple namespaces

### Use-Case
In a scenario where, there are multiple services in multiple namespaces in a given cluster, sometimes it could be costly to add a keda http interceptor per namespace. Rather, just like how ingress controller works, it would be best

[2021-08-25 17:44] arschles opened #241 "Enable dedicated interceptor/scalers with the same operator"
### Discussed in https://github.com/kedacore/http-add-on/discussions/218

<div type='discussions-op-text'>

<sup>Originally posted by **rwkarg** August  4, 2021</sup>
This issue (#36) has been closed but I don't see a way to currently add annotations to the interceptor service.

The specific use case we have is using [autoneg-controller](https://github.com/GoogleCloudPlatform/gke-autoneg-controlle

[2021-08-27 17:03] arschles opened #244 "Add ability to debug outside cluster (Proposal)"
The ability to run one or more components on your local machine, outside a cluster, would ease debuggability for some folks.

### Use-Case

A developer fixing a bug or building a feature might have an easier time making progress if they can simply `go run ./<component>` on their local machine and have that component hook directly up to the rest of the system running in a cluster. While there will

[2021-08-30 17:41] arschles opened #245 "Follow-up tests for multi-tenant work (#206)"
In #206, a lot of new functionality, along with significant test coverage was added. Several more tests should be added, but were left out of that PR:

- `TestRunProxyServerCountMiddleware` in `interceptor/main_test.go`
- `TestRunAdminServerDeploymentsEndpoint` in `interceptor/main.go`
- `TestK8sDeploymentCacheAddEvt` in `pkg/k8s/deployment_cache_test.go`

[2021-09-01 21:30] arschles opened #248 "Add configurability to the HTTP round tripper"
The interceptor's HTTP round tripper has a few hard-coded values in its configuration:

[code]

These values should be made configurable, with the existing values as the defaults (except `ForceAttemptHTTP2` should default to false).

cc/ @yaron2 since we talked about this offline

[2021-09-01 21:31] arschles opened #249 "Add tests for HTTP redirect responses to the interceptor"
The interceptor uses the standard library's single host reverse proxy. This proxy should handle HTTP redirect responses automatically, but a test should be added to the interceptor to ensure that is the case, and the redirects are processed properly.

The client of the interceptor should not see evidence of the redirect.

[2021-09-03 08:19] #101 closed

[2021-09-03 08:19] #183 closed

[2021-09-03 08:19] #214 closed

[2021-09-07 20:37] arschles commented on #235
This was introduced and fixed in #206. Closing

[2021-09-07 20:37] #235 closed

[2021-09-08 19:21] #230 closed

[2021-09-10 19:09] arschles opened #257 "Refactor the routing table config map updater"
Currently, `(pkg.routing).StartConfigMapRoutingTableUpdater` needs access to  a `(pkg.queue).Counter` so that it can ensure that the queue data contains _every_ host in the routing table, even if there are no pending requests for it. We implemented the queue this way so that the scaler can receive it from an interceptor and be sure it can report all hosts to KEDA, and KEDA will appropriately scale

[2021-09-10 19:31] arschles commented on #249
@yaron2 we discussed this offline. in your opinion, should the interceptor handle redirections? As expected, the standard library's reverse proxy code doesn't follow redirects. I don't think we should have the interceptor follow them either, because it should be left up to the client how to react to a 302, 301, or similar. Maybe one exception to this could be to follow redirects to other internal

[2021-09-13 17:59] #234 closed

[2021-09-21 16:17] arschles opened #266 "Build docker images or compile binaries with git SHA"
This would be useful so that anybody could report, from any given running `canary` or `latest` (i.e. mutable) image, what code version is being run.

### Use-Case

When someone reports an issue with a versioned, immutable image tag like `v0.1.0` or similar, it's easy to figure out what specific code is being run because you can simply go to that tag on GitHub. In the case of the `latest` and `cana

[2021-09-21 23:29] yaron2 commented on #249
I'm fine not supporting redirects and gather feedback if this is needed.

[2021-09-22 06:37] #248 closed

[2021-09-22 16:14] arschles commented on #249
Thanks @yaron2 for letting me know

[2021-09-28 12:37] ajanth97 opened #271 "Interceptor and external scaler fails to fetch routing table config map"
There is an error when fetching the **routing table config map**

* Interceptor pod logs :

* External Scaler pod logs :

## Specifications

- **KEDA Version:** 2.4.0 **
- **KEDA HTTP Add-on Version:** *0.1.0*
- **Platform & Version:** *AKS*
- **Kubernetes Version:** *1.19.11*

[2021-09-28 16:50] arschles commented on #271
I think this is because the operator only adds the routing table `ConfigMap` when an `HTTPScaledObject` event happens. The result is that if you install the HTTP Addon on a brand new, never-been touched cluster, this failure will happen. I think the  operator should try to create the `ConfigMap` when it starts up, if the `ConfigMap` already exists, then the operator shouldn't fail though.

[2021-09-28 16:53] arschles opened #272 "External scaler GetMetricSpec function cannot handle "interceptor" host"
The external scaler will fail if `GetMetricSpec` is called with `"interceptor"` as the `ScaledObject`'s `host` value.

## Expected Behavior

It returns a response that includes a target value for the interceptor fleet

## Actual Behavior

It returns an error

## Steps to Reproduce the Problem

@ajanth97 has reproduced this problem, so I will let him elaborate here.

  1.
  2.
  3.

## Specificatio

[2021-09-29 13:29] ajanth97 opened #274 "Interceptor timeout"
Interceptor timesout and returns a 502 :

Interceptor logs :

## Specifications

- **KEDA Version:** *2.4.0*
- **KEDA HTTP Add-on Version:** *0.1.0*
- **Platform & Version:** *AKS*
- **Kubernetes Version:** *1.19.11*

[2021-09-29 13:31] ajanth97 commented on #271
@arschles Yeah I think creating it from the charts will be better option since we can clean up the code in the operator.

[2021-09-29 20:54] arschles opened #276 "Proposal: forward request in interceptor even if wait func fails"
I believe that the wait function is useful so that the interceptor does not begin attempting to connect (and backing off on connections) to the application until it is sure that the application has scaled up to 1 or more replicas. In the case that the wait function fails, it might be useful for the interceptor to try to forward the request anyway, though.

### Use-Case

The interceptor is unable t

[2021-09-29 20:59] arschles opened #277 "Deployment cache does not fire the right event on polling intervals"
The deployment cache always fires the `MODIFIED` event every polling interval. In the cache's `mergeAndBroadcastList` function, it always [inserts the newly received deployment into its cache](https://github.com/kedacore/http-add-on/blob/main/pkg/k8s/deployment_cache.go#L153) first, and then [checks to see if the deployment is in the cache](https://github.com/kedacore/http-add-on/blob/main/pkg/k8s

[2021-09-29 21:18] arschles opened #278 "Add admin endpoints for the configurations of each component"
It would be helpful for the scaler, interceptor and operator to have admin server endpoints that can output their running configuration

### Use-Case

A user who wants to know information about the configuration of a currently-running component.

### Specification

The operator, scaler and interceptor should each have a `/config` endpoint on their respective admin servers. It should output a JSON

[2021-09-30 04:08] ajanth97 commented on #276
I agree somewhat but then the response of the request would be unpredictable. I personally think we should figure out a way that we can assure a deployment has more than 0 replicas

[2021-09-30 18:00] arschles commented on #271
@ajanth97 done. here is the commit for reference: https://github.com/kedacore/charts/pull/169/commits/512b7ef3d213f2475deedce4dddfd1dc39a13435

[2021-10-01 17:54] arschles commented on #276
Agreed, the wait function needs to improve its reliability. That said, though, we need to plan for network and k8s control plane issues. I think eventually it will be important to build in fallback functionality to the interceptor so that requests still make it through, even if the control plane is inaccessible from the interceptor.

[2021-10-01 19:49] comron opened #281 "Wildcard support for multi-tenant interceptor"
Allow for wildcards when specifying Host headers and routing information for interceptor and scaler.

### Use-Case

Some services might have multiple hostnames, say for multiple customers in the form of "customername.service.example.com". So supplying a single Host header for routing/scaling wont suffice. We would need to support simple wildcards (*.service.exmaple.com") at the very least for this

[2021-10-01 21:09] arschles commented on #281
@comron sounds like a great idea! We'll get this implemented and released in `v0.3.0`.

[2021-10-01 21:34] arschles opened #282 "Ignoring requests"
I'd like to be able to configure the interceptor to prevent specific incoming requests from triggering a scaling event. Examples of these types of requests would be health checks or requests for metrics.

### Use-Case

My interceptor fleet is fronted by a load balancer that makes periodic health check requests to the `/healthz` path. In this situation, I want these requests to check if the interce

[2021-10-02 01:46] vitarkah commented on #282
Looks good; one question - How would HTTPIgnoreRule be tied back to the relevant HTTPScaledObject?

[2021-10-04 03:03] ajanth97 commented on #276
Agreed ! yeah let's do that. Let's forward the request to the relevant service and still log the error if the control plane is inaccessible.

[2021-10-04 17:01] arschles commented on #282
@vitarkah it may not tie back to just one specific `HTTPScaledObject` but the intersection point between the two is the Host. If there were an `HTTPScaledObject` issued for `host: mysite.com` and an `HTTPIgnoreRule` issued similar to this:

[code]

Then the ignore would apply to that `HTTPScaledObject` and others ending in `site.com` (like `host: myothersite.com`)

[2021-10-04 18:25] #231 closed

[2021-10-06 21:01] arschles opened #284 "Have the scaler call requestCounts immediately after the interceptor Deployment changes # of replicas"
If the interceptor deployment scales up or down, that means there is a new set of endpoints that the scaler should ping for metrics. Currently, we just wait until the next scaler ping duration (currently hard coded to 500ms) to get the new metrics from the new complete set of interceptors. This change would potentially reduce the time from interceptor scale to capturing the new metrics, thus reduc

[2021-10-06 21:36] arschles opened #285 "Add tests for StreamIsActive"
The scaler's current `StreamIsActive` method does not have a test. It should. This should be done as part of, or after #97, although that's not required. Any tests written could be later retro-fitted to work with the improvement in #97

### Use-Case

Adds reliability and stability long term to the scaler.

### Specification

- At least one unit test exists that calls and tests the output of `Strea

[2021-10-07 17:49] arschles opened #286 "Fix concurrency in scaler requestCounts function"
The `requestCounts` function in the scaler has "funky" concurrency:

- It starts up one goroutine per interceptor endpoint inside an `errgroup`. Each of these tries to send that interceptor's counts on a channel called `countsCh`
- It starts up one final goroutine that `range`s over the same `countsCh` channel
- `countsCh` is closed in a `defer`

This design means that, when `requestCounts` return

[2021-10-07 17:55] arschles opened #287 "Use client-go's informer to replace the custom routing table config map updater"
There are quite a few places where we have to consume a kubernetes resource, watch it for changes, and keep a copy of it (or some data derived from a copy of it) in memory and up-to-date. So far, we have written code from scratch that uses a `watch.Interface` to watch for changes, and uses a Kubernetes client to periodically do a full fetch of the Kubernetes resource(s) in question.

In #269, we'r

[2021-10-08 15:54] #272 closed

[2021-10-08 16:22] arschles opened #293 "Add test for "interceptor" host value in GetMetricSpec"
Now that #273 is merged, we've fixed a bug where the scaler didn't properly handle `"interceptor"` in the `host` field of the given scaled object ref. This PR is for adding regression tests on that behavior.

### Use-Case

Ensure that this behavior is tested.

### Specification

A unit and/or integration test should run to check this behavior

[2021-10-08 20:31] arschles commented on #20
As of now, it will still need to maintain the `ScaledObject` that it creates.

[2021-10-08 20:34] arschles commented on #159
@ajanth97 is this now done?

[2021-10-08 20:39] arschles commented on #107
As of this writing, we have namespace-wide components, which we do plan to modify in #269, and the operator will never create application-related resource, which we do not plan to change. We'll track the work related to the former design in #269. Closing this

[2021-10-12 15:19] #159 closed

[2021-10-18 22:53] arschles commented on #19
Autoscaling reaction time (especially from 0) has been sped up with #206. Closing

[2021-10-19 19:21] arschles commented on #97
This is ongoing. @ajanth97 is working on it

[2021-10-28 20:36] arschles opened #305 "Load testing"
Look into a way to do load testing. [k6](https://k6.io/) looks like a promising toolchain for this.

### Use-Case

Ensure that the HTTP Addon can reliably and quickly scale applications up to handle incoming load

### Specification

An automated system should install all necessary systems, initiate an HTTP load test against a valid, installed application, and measure the behavior of the system bot

[2021-11-01 21:35] vitarkah commented on #282
Perfect! Thanks and look forward to getting this feature.

[2021-11-05 16:12] #271 closed

[2021-11-08 09:28] dheerajjoshim opened #310 "external scalar and interceptor pods are not created while deploying reference chart xkdc"
I am trying to deploy the reference helm chart of `xkdc` and `external-scalar` and `interceptor` pods are not created. Pod gets terminated. `
external-scaler`, `interceptor-admin `, and `interceptor-proxy` services are created momentarily and eventually get removed.

## Expected Behavior
Deploying a helm chart should create `external-scalar` and `interceptor` pods and services. So these services c

[2021-11-09 23:28] arschles commented on #310
hi @dheerajjoshim - thanks for this. we are just about to release `v0.2.0` in the next few days, which should fix this issue. when it is released, would you mind installing the new version and re-testing?

[2021-11-10 02:24] dheerajjoshim commented on #310
@arschles I would test this again with `v0.2.0` when it is released.

[2021-11-10 04:57] tpiperatgod opened #316 "http-add-on controller does not works"
A clear and concise description of what the bug is.
http-add-on controller does not works

## Expected Behavior
http-add-on controller pod is running

## Actual Behavior
http-add-on controller pod is error

## Steps to Reproduce the Problem

  1. refer to this [doc](https://github.com/kedacore/http-add-on/blob/main/docs/install.md)
  2. install keda
[code]
  3. install http-add-on
[code]

## Speci

[2021-11-10 05:01] tpiperatgod commented on #316
the information from command `kubectl get po -oyaml`:

[code]

and can't any information in logs:
[code]

[2021-11-10 20:26] arschles commented on #310
thanks @dheerajjoshim !

[2021-11-10 21:01] arschles commented on #316
Hi @tpiperatgod I made the mistake of manually pushing images to the registry after aborting a release the other day. Sorry about that! Things should be back to normal now, if you don't mind trying again.

[2021-11-11 05:56] tpiperatgod commented on #316
Thx @arschles

since i have built and replaced the operator and the interceptor image, these two deployments works. i can access the xkcd svc:
[code]
BUT..

the problems are:
1. no change in the number of replicas of xkcd deployments, even use `hey -z 30s -c 50 'http://myhost.com'` to test it(this should work, right?), nor down to 0
2. i referenced [HTTPScaledObject](https://github.com/tpiperatgod

[2021-11-12 06:45] tpiperatgod commented on #316
I cleaned up the environment and reinstalled keda(and http-addon) with the following command:

[code]

The status is as follows:
[code]

The logs of error pods:
[code]

Then I built container images(operator, scaler, interceptor) based on the main branch.(on ubuntu 18.04 lts x86_64)
[code]

[code]

I replaced the ghcr.io image with the one I built and the http-add-on works.
[code]

This time I can

[2021-11-12 07:02] tpiperatgod commented on #316
Since I removed the xkcd hso and reinstalled it, the xkcd pods could be scaled to a number greater than 1.

It seems that I finally experienced the power of keda-http-addon properly:joy:

But there is still a question, after I updated the HSO, the corresponding SO seems to be unchanged. I will try to find the answer from the code and I would be grateful if you could give some guidance, thx!

[code

[2021-11-12 07:07] tpiperatgod commented on #316
And do you think it is necessary to check these two images?

[code]

[2021-11-12 17:34] arschles opened #321 "Add prometheus-compatible instrumentation to the interceptor"
The interceptor already has several [debugging/observation endpoints](https://github.com/kedacore/http-add-on/blob/main/docs/developing.md#debugging-and-observing-components) that expose several pieces of useful information to be used primarily for debugging purposes. For example, you can fetch a point-in-time copy of the pending queue or the routing table, all via a simple REST API that you can `

[2021-11-12 21:09] arschles commented on #316
@tpiperatgod thanks for the very thorough investigation and response! it looks like you still might have the helm chart for `v0.2.0`. I'll look into why that is the latest, but I think I forgot to roll it back. Apologies for that!

I am planning on releasing `v0.2.0` early next week, so this issue would be fixed at that point. It looks like when you built the images yourself, you ran essentially t

[2021-11-12 21:15] arschles commented on #316
Those custom-built images are pushed now. Here they are if you want to look at them:

- [operator](https://hub.docker.com/r/arschles/http-addon-operator/tags)
- [scaler](https://hub.docker.com/r/arschles/http-addon-scaler/tags)
- [interceptor](https://hub.docker.com/r/arschles/http-addon-interceptor/tags)

[2021-11-13 03:11] tpiperatgod commented on #316
The command worked.:thumbsup: thx @arschles
[code]

[2021-11-13 03:11] #316 closed

[2021-11-13 06:11] tpiperatgod opened #323 "httpscaledobjects does not trigger a change in the corresponding scaledobjects."
The httpscaledobjects resource does not trigger a change in the corresponding scaledobjects resource.(I'm not sure if this is a bug)

## Expected Behavior
When I update an HSO resource, I want the corresponding SO resource to be updated as well.

## Actual Behavior
When I update the HSO resource, the corresponding SO resource is not updated.

## Steps to Reproduce the Problem

  1. Create a HSO

[

[2021-11-15 19:25] arschles commented on #316
@tpiperatgod thanks! I'll update the defaults in the chart for that `waitTimeout`

[2021-11-15 19:35] arschles commented on #323
Thanks for the YAML diff @tpiperatgod. I was able to reproduce this behavior, and it is indeed a bug. I'll look into this and get back with a fix.

[2021-11-16 08:32] tomkerkhove commented on #321
Another reasonable approach would be through OpenTelemetry but let's keep that out of scope for now.

[2021-11-16 15:17] tpiperatgod commented on #287
I am interested in this matter, is it possible to assign it to me?

[2021-11-16 21:09] arschles commented on #274
This is fixed with https://github.com/kedacore/charts/pull/197. Closing

[2021-11-16 21:09] #274 closed

[2021-11-16 21:19] arschles commented on #310
@dheerajjoshim [version `v0.2.0`](https://github.com/kedacore/http-add-on/releases/tag/v0.2.0) is now released. Can you try uninstalling your app and the HTTP Addon, and then re-installing everything?

[2021-11-16 21:22] arschles commented on #287
@tpiperatgod GitHub won't let me set the "assignee" field to you, but please feel free to work on it.

#269 will replace the deployment cache with the informer, so would you mind working on the routing table updater code?

[2021-11-16 21:28] arschles commented on #188
@blackmann the architecture of that portion of the codebase has changed in the (just released) `v0.2.0` release, and the operator no longer needs to wait for the scaler, so this issue wouldn't happen anymore. I'm going to close this.

If you have time and wouldn't mind, could you give `v0.2.0` a try (uninstall/reinstall according to the [install.md](https://github.com/kedacore/http-add-on/blob/mai

[2021-11-16 21:28] #188 closed

[2021-11-17 02:26] dheerajjoshim commented on #310
@arschles  Let me install the latest HTTP add-on and retest.

[2021-11-17 03:13] dheerajjoshim commented on #310
With version `[v0.2.0](https://github.com/kedacore/http-add-on/releases/tag/v0.2.0)` everything seems to be working fine. Hence closing the ticket

[2021-11-17 03:13] #310 closed

[2021-11-17 07:16] tpiperatgod commented on #287
I submitted a pr but still have some matters I would like to discuss with you:

[2021-11-17 17:39] arschles commented on #310
Thank you for checking @dheerajjoshim. I'm glad it is working for you now.

[2021-11-17 17:53] arschles commented on #287
@tpiperatgod I just reviewed your PR (#326) - thanks for submitting it. I answered your question [there](https://github.com/kedacore/http-add-on/pull/326#pullrequestreview-808945867), so let's discuss it there.

[2021-11-17 17:54] arschles commented on #321
@tomkerkhove I've barely started this work, so now would be the time to make the choice between prom. and OT. I feel like it would be wise to have KEDA and this project both do the same thing, so shall I follow kedacore/keda#2291 and do OpenTelemetry?

[2021-11-18 07:01] tomkerkhove commented on #321
The proposal has only just been opened and not agreed upon yet, so it's up to you.

I think the current landscape is still using a lot of Prometheus so the investment would definitely not be lost and align with KEDA Core, but if you prefer to wait then that's also fine for me.

[2021-11-24 19:05] obito opened #331 "Proxy redirection to the wrong URL"
Interceptor redirect to `http://service:80/path` instead of `http://url.com/path`

## Expected Behavior

Redirect to `http://url.com/path`

## Actual Behavior

Redirect from `http://url.com`to `http://service:80/path`

## Steps to Reproduce the Problem

  1. Create service and a deployment with HTTPScaledObject (in my case it was WordPress)
  2. Create an Ingress
  3. Go to the url (`http://exampl

[2021-11-28 09:57] tpiperatgod opened #332 "Reset the number of replicas of the target deployment while deleting httpscaledobject"
## Expected Behavior
I expect to be able to reset the number of replicas of the target deployment while deleting the httpscaledobject resource.

## Actual Behavior
No one to manage the number of replicas of the target deployment after the httpscaledobject resource has been deleted.

## Steps to Reproduce the Problem

  1. Creating xkcd and xkcd httpscaledobject resource
  2. Use the command `hey -

[2021-12-01 21:36] arschles commented on #331
@obito using the `example.com` host would send traffic back outside the cluster, rather than directly to the in-cluster service, wouldn't it? in your case with `Wordpress`, is it necessary to do that (maybe so Wordpress can serve up the right site)?

if is is necessary, we could add a field to the `HTTPScaledObject` to enable it.

[2021-12-01 21:47] arschles commented on #332
@tpiperatgod since `KEDA` does the actual scaling, we could use that to achieve this. if the HTTP Addon operator created the `ScaledObject` with [`spec.advanced.restoreToOriginalReplicaCount`](https://github.com/kedacore/keda/blob/main/apis/keda/v1alpha1/scaledobject_types.go#L100) set to `true`, then when it later deletes that `ScaledObject`, KEDA would take care of restoring the `Deployment` to

[2021-12-02 02:17] tpiperatgod commented on #332
This solution should work, I think.

I do mean this scenario. I would like to know if it is normal behavior for HTTP Addon to disconnect when deleting an HSO by default when `restoreToOriginalReplicaCount` is set to true?

[2021-12-03 18:26] arschles commented on #332
Great, it should be a pretty small change, then. Would you like to do it? If not, I'm happy to. Just let me know.

Regarding connections, the interceptor is the key component here. When the HSO is deleted for a host, the interceptor should immediately stop routing _new_ incoming requests to the `Deployment` (because its routing table gets updated). Existing ones in-flight should get completed thou

[2021-12-03 18:27] arschles commented on #321
@tomkerkhove ok. I'm planning to continue with #322 at some point, but a bunch of things have come up before it, so when I get back to it I'll check kedacore/keda#2291 to see if the OT decision has made any progress. Otherwise I'll just finish the Prometheus work!

[2021-12-04 01:25] tpiperatgod commented on #332
Yes, I'd like to.

Thanks for the answer, I think I've understood.

[2021-12-07 22:25] arschles commented on #332
That's great news. Feel free to submit a pull request whenever you'd like. I am happy to review it.

[2021-12-08 05:28] ajanth97 commented on #238
@arschles sorry I just saw this. yeah will do when I get some time

[2021-12-08 20:10] arschles commented on #238
sounds good @ajanth97 - thanks!

[2021-12-11 01:09] philomory opened #338 "Support routing and scaling based on path"
The interceptor should be able to route requests for the same host to different services based on the request path.

### Use-Case

When using an ingress controller, you can create Ingress objects that route different requests for the same host to different backend services, depending on the _path_ portion of the request. This can be done by within a single Ingress object or across multiple of them

[2021-12-13 21:02] arschles opened #344 "Maintainers Time off (2021-12-17 - 2022-01-03)"
Hello All,

I will be taking time off for the end of the (Gregorian) calendar year. For much of the time between December 17, 2021 and January 3, 2022, I will be offline, so I won't be able to do most reviews nor comment on issues.

When I get back, I'll ensure that everything that needs my attention gets it! Also, I'll do my best before I leave to review and comment on everything that needs my at

[2021-12-14 10:04] zroubalik commented on #344
Enjoy your time off @arschles!

[2021-12-14 17:02] arschles commented on #344
thanks @zroubalik - I hope you do too!

[2021-12-14 17:27] arschles commented on #120
hasn't been much interest on this one, so I'm going to close. if anyone would like to see this, PRs are still welcome, or feel free to open a new issue.

[2021-12-14 17:27] #120 closed

[2021-12-14 17:33] arschles opened #345 "Add routing table lifecycle diagram to documentation"
@tpiperatgod created a great lifecycle diagram for the routing table in https://github.com/kedacore/http-add-on/pull/326#issuecomment-972946943. It would be very useful to add this diagram to documentation.

### Use-Case

I think this diagram would be very helpful especially for HTTP Addon developers looking to understand the system better. I bet it would also help operators trying to troubleshoot

[2021-12-14 18:06] #287 closed

[2021-12-14 18:20] arschles opened #346 "Refactor the config map routing loop in the Scaler"
Currently, when the config map routing loop experiences an update, we [do a full update from the k8s API](https://github.com/kedacore/http-add-on/blob/201c7cb7bf5a015de22d31b71ce2d9247da6d42f/scaler/main.go#L68-L73) using the scaler's queue pinger.

It may be more efficient to just update the pinger's in-memory copy the host list to reflect the change in the routing table (the pinger would still b

[2021-12-14 18:28] #332 closed

[2021-12-14 18:29] arschles commented on #226
not much interest on this, closing.

[2021-12-14 18:29] #226 closed

[2021-12-14 18:58] arschles commented on #338
@philomory this seems very reasonable since we can easily save a lot of work and moving parts for operators. would you be interested in implementing this feature? no problem if not, just want to check.

[2021-12-16 08:03] tomkerkhove opened #350 "Support for autoscaling based on traffic flow"
We should support the following traffic flows/types:

- [x] Ingress (*)
- [x] Service-to-service (*)
- [ ] https://github.com/kedacore/http-add-on/issues/6
- [ ] https://github.com/kedacore/http-add-on/issues/33

_(*) Current state as of Dec 2021 by using service interceptor & custom metric tracking_

[2021-12-16 09:09] tomkerkhove opened #354 "Standardize traffic metrics across traffic sources"
As per https://github.com/kedacore/http-add-on/issues/350 our goal is to support various traffic flavors and support them in a neutral way.

The tricky thing here is that there is no standard way of having metrics for these traffic flows and we have to provide our own, use metrics from ingress controllers, or rely on [Service Mesh Interface's Traffic Metrics API](https://github.com/servicemeshinte

[2021-12-18 02:42] #276 closed

[2021-12-22 11:24] andresrsanchez commented on #281
Hi there!
So i did an initial implementation of this issue with the core logic in [Table](https://github.com/kedacore/http-add-on/blob/main/pkg/routing/table.go), something like:

[code]

What do you all think about this? Should i simplify the solution?
Thanks!!!

[2021-12-23 18:43] arschles commented on #281
On an initial look, this code looks good, but I'm on holiday looking at it from my iPad, so I'll take a more in-depth look when I'm back. Thank for putting it together!

[2021-12-31 02:47] philomory commented on #338
I would love to help implement this, but I don't think I have the required time _or_ the required skillset. I can sort of read Go, a little bit, but I'm not going to be able to write Go to an acceptable level of quality for a project like this.

[2022-01-03 23:31] #305 closed

[2022-01-05 18:41] arschles commented on #344
I'm back and reviewing / working now. Thanks everyone for the good wishes and for waiting!

[2022-01-05 18:41] #344 closed

[2022-01-05 19:02] arschles commented on #281
@andresrsanchez I looked in more depth at the code you posted and have a few questions/comments:

1. Do you think we could support a (much) smaller subset of regexp functionality? I think starting with support for just `*` would satisfy (almost) all of this specific feature
2. We could probably do lookups more time-efficiently in the `lookup` function, particularly if we just support `*` for now.

[2022-01-05 19:32] arschles commented on #338
@philomory no problem. We can implement it. Before that, though, I'd like to get clarity on how this feature should interact with #281. Do you have any thoughts?

[2022-01-06 20:10] philomory commented on #338
@arschles That's a good question! I don't have a _strong_ opinion, since we wouldn't be using the wildcard support, ourselves. That said, I think it _probably_ should be supported to use both at once, even if I wouldn't recommend anyone actually do so. `Ingress` supports both at once, so `HTTPScaledObject` probably should as well.

There's no (explicit) documentation that I can see on the _behavio

[2022-01-10 16:53] dariuszbz opened #361 "following documentation throws errors"
let's follow the steps (i put them into one list - your welcome)

## install helm with choco
## install choco
Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))

## install helm
choco

[2022-01-10 19:02] arschles commented on #361
Hi @dariuszbz - after you did the `helm install xkcd` step, you are actually done. I'll modify the documentation to be more clear that you don't have to do the `kubectl create httpscaledobject.yaml` step if you did the `helm install xkcd` one.

After the `helm install xkcd` command completed, does your app scale properly?

[2022-01-10 23:23] arschles commented on #354
@tomkerkhove I really like the idea of having a KEDA-wide standard for HTTP metrics based on the OTEL semantics, so +1 to that. One thing that we should consider having, though, is that the interceptors should be able to push some (primitive) metrics down to external scalers. Doing so would allow for a completely push-based notification system from interceptor -> external scaler -> KEDA itself, an

[2022-01-11 07:47] morganchristiansson opened #364 "ARM support"
Same as kedacore/keda#779

Release multi-arch docker images with arm64 support.

Should finish kedacore/keda#779 first, creating this as placeholder as there's no existing issue.

[2022-01-11 09:30] dariuszbz commented on #361
Hello @arschles. Thank You for your prompt feedback. I don't know what is that mean "does your app scale properly" ? I can describe how it actually works.

Just after installation the **xkcd**  pod doesn't exist.

I installed ingress:

helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
helm repo update
helm install ingress-nginx ingress-nginx/ingress-nginx -n keda

and after ca

[2022-01-11 10:56] tomkerkhove commented on #354
Can you elaborate a bit more what you want to achieve here? I presume you mean the external scaler of HTTP add-on then or?

[2022-01-11 12:33] dariuszbz commented on #361
Hello again. I did some digging and I think I've found.

Consider you definition:
https://github.com/kedacore/http-add-on/blob/main/docs/ref/v0.2.0/http_scaled_object.md

kind: HTTPScaledObject
apiVersion: http.keda.sh/v1alpha1
metadata:
    name: xkcd
spec:
    host: "myhost.com"
    scaleTargetRef:
        deployment: xkcd
        service: xkcd
        port: 8080
        targetPendingRequests: 1

[2022-01-11 19:55] arschles opened #365 "Return custom header when request was returned from a cold start"
When a client issues a request that has to be serviced by an app that has zero replicas at the time of issue (in other words, a cold start has to happen), the interceptor should add a header to the response indicating that fact.

### Use-Case

If a user is trying to debug a slow or otherwise problematic request, having this information could be very helpful in their efforts

### Specification

If

[2022-01-11 21:29] arschles commented on #361
@dariuszbz there's no way to specify a max value of requests per pod at the moment. The closest thing we have for that is the `targetPendingRequests` field. That value is the target number of _total_ requests that should be in flight at one time, across all the pods. If there are more in flight than that number, the HTTP Addon will scale up. Similarly, if there are fewer, it will scale down.

If y

[2022-01-11 21:30] arschles commented on #361
Just to add another note, you can always submit this value by building your own `HTTPScaledObject` yaml file - it's just not configured in the `xkcd` helm chart specifically, so I can add that if you'd like.

[2022-01-11 21:33] arschles commented on #364
Thanks @morganchristiansson.

cc/ @tomkerkhove

[2022-01-11 21:40] arschles commented on #338
@philomory perhaps this would be a start to a unified spec for path-based routing and wildcard support:

1. Use a `*` character anywhere in the hostname or path definition
2. The most _specific_ declaration that matches an incoming request will match, and the request will be routed to the appropriate backend. For example, for a request to foo.com/a/b/c
    - The paths `*.foo.com/a/*` and `foo.com/

[2022-01-12 01:43] philomory commented on #338
I think there are significant advantages to matching the specified behavior of `ingress.networking.k8s.io/v1` where possible; although if there really _is_ no specification for how multiple potential wildcard hostname matches are resolved. That said, I could probably be convinced by a more detailed proposal for the unified spec (and I'm not the one implementing it, so in the end I'll be pretty hap

[2022-01-12 09:18] dariuszbz commented on #361
Thank You @arschles any help - custom object would be the best at the moment, but PR as a future, as well as updating the documentation ;)

[2022-01-12 09:32] dariuszbz commented on #361
Sorry ... it's me again. How does it work " That value is the target number of total requests that should be in flight at one time, across all the pods. If there are more in flight than that number, the HTTP Addon will scale up." ?

let's say there is one pod (literally one), and targetPendingRequests  value is 200. when there are 201 requestest, the add-on will create second pod. And what will ha

[2022-01-13 22:50] #240 closed

[2022-01-13 22:50] #257 closed

[2022-01-17 04:19] morganchristiansson opened #367 "Cluster-global http-add-on: scale-up from zero doesn't work"
### Report

First try running http-add-on. Scaling deployment/redmine in namespace redmine with keda in namespace keda .

Getting error from keda-operator below. It's trying to connect to `keda-add-ons-http-external-scaler.redmine.svc.cluster.local` which exists in namespace `keda`. It's incorrectly using `redmine` namespace that HTTPScaledObject is in.

(I also created empty configmap/keda-http-r

[2022-01-18 10:52] dariuszbz commented on #361
I don't give up and want to make it work :)
still wont work.

http object:

kind: HTTPScaledObject
apiVersion: http.keda.sh/v1alpha1
metadata:
    name: k8sdemo
spec:
    host: "myhost.com"
    scaleTargetRef:
        deployment: k8sdemo
        service: k8sdemo
        port: 80
        ## targetPendingRequests: 10
    replicas:
        min: 1 # change spec.replicas.min to 1
        max: 10

keda

[2022-01-18 11:49] Giridhar23689 opened #368 "Getting "unknown field "targetPendingRequests"" while deploying HTTP Scaled Object"
### Report

While deploying an HTTP scaled object, I received the below error:

 _error validating data: ValidationError(HTTPScaledObject.spec.scaleTargetRef): unknown field "targetPendingRequests" in sh.keda.http.v1alpha1.HTTPScaledObject.spec.scaleTargetRef; if you choose to ignore these errors, turn validation off with --validate=false_

### Expected Behavior

The HTTP scaled object should be d

[2022-01-19 09:54] tpiperatgod commented on #368
According to the [latest version](https://github.com/kedacore/http-add-on/blob/c211da9bd1ec400d4d2316f20176655eddeea59e/operator/api/v1alpha1/httpscaledobject_types.go#L90-L103), this field should be used like this:
[code]

[2022-01-19 10:05] avinash31d opened #369 "error on backend (net/http: timeout awaiting response headers)"
### Report

Facing error on backend (net/http: timeout awaiting response headers) on POST request with multipart form data.

### Expected Behavior

STATUS 200

### Actual Behavior

Facing error on backend (net/http: timeout awaiting response headers) on POST request with multipart form data while uploading a file

### Steps to Reproduce the Problem

1. follow the docs ok xkcd app
2. create a sampl

[2022-01-19 11:33] avinash31d commented on #368
+1 facing same issue

[2022-01-19 11:34] #369 closed

[2022-01-19 22:22] arschles commented on #369
@avinash31d I see that you opened and then closed this issue. Are you no longer seeing the problem?

[2022-01-19 23:21] arschles opened #370 "Handle signals in the interceptor & drain requests"
The interceptor should not just shut down when it receives a signal. Instead, it should ensure that all requests are complete and then shut down.

### Use-Case

When KEDA scales the interceptor pool down, or a user manually shuts down an interceptor pod, the interceptor should not sever the connection. Instead, it should complete the pending requests (some of which may be hanging for a long time,

[2022-01-19 23:23] #365 closed

[2022-01-20 05:17] avinash31d opened #371 "targetPendingRequests"
### Discussed in https://github.com/kedacore/http-add-on/discussions/330

<div type='discussions-op-text'>

<sup>Originally posted by **mikaelasanchez** November 24, 2021</sup>
Hello! I hope I'm posting this in the right place.

### Gateway Timeout
I'm trying to get a simple Hello World app working with KEDA and followed the instructions in the walkthrough page
Firstly, when I edit the ingress to

[2022-01-20 05:18] #371 closed

[2022-01-20 05:50] avinash31d commented on #369
@arschles I increased the timout value and it is working now.

[2022-01-20 10:01] dariuszbz commented on #368
@avinash31d  - last time I've checked "targetPendingRequests" is not available yet - see [an issue](https://github.com/kedacore/http-add-on/issues/361) I created.
I still can't make http-add-on work (see the 361 issue). I understand it is beta, and @arschles is busy. I guess we just need to wait a bit longer, but I believe it is worth to wait.

[2022-01-20 11:55] avinash31d commented on #368
@dariuszbz thanks for the response, by the time it gets done, can we do one thing, can we modify the default value and build our own docker image and deploy it?
do you know an easy way to do that?

[2022-01-20 11:59] avinash31d commented on #368
@dariuszbz Also, I can see here https://github.com/kedacore/http-add-on/blob/201c7cb7bf5a015de22d31b71ce2d9247da6d42f/scaler/config.go#L28

there is an environment variable we can set KEDA_HTTP_SCALER_TARGET_PENDING_REQUESTS

how do you set this through helm deployment?

[2022-01-20 19:22] arschles commented on #369
ok, great. the timeout is fairly dependent on several details, including some details of your cluster, container sizes, and more. I'm glad you figured it out. There is a (now closed) issue that can give you some more details on this timeout, if you are interested: https://github.com/kedacore/http-add-on/issues/276

[2022-01-20 19:34] arschles commented on #368
@tpiperatgod is correct, the `targetPendingRequests` field must be directly under the `spec`, not under the `scaleTargetRef`. I'll fix this in the [reference documentation](https://github.com/kedacore/http-add-on/blob/main/docs/ref/v0.2.0/http_scaled_object.md) - my apologies for the incorrect documentation.

----

@avinash31d regarding your comment [here](https://github.com/kedacore/http-add-on/i

[2022-01-20 19:54] arschles commented on #361
Sorry about the delay @dariuszbz!

----

I've added the ability to set the `targetPendingRequests` field in https://github.com/kedacore/http-add-on/pull/373 and updated the documentation in https://github.com/kedacore/http-add-on/pull/372

----

`targetPendingRequests` says that we want no more than 200 _pending_ requests in the system at any time, which means that if 201 requests come in, that do

[2022-01-20 20:08] arschles commented on #367
@morganchristiansson thanks for this. the operator is what sets up the `ScaledObject`, and it uses the `NAMESPACE` environment variable for the hostname of the external scaler (this is changed from the behavior before #269). Is that value set to `keda` in your deployment?

Also, thanks for that patch! I'll look out for the PR.

[2022-01-21 02:49] morganchristiansson commented on #367
`NAMESPACE` is not set, `KEDA_HTTP_SCALER_TARGET_ADMIN_NAMESPACE` is set. I checked both http-add-on chart deployment-scaler.yaml and pods running process environment.

After setting `NAMESPACE` in deployment/keda-add-ons-http-external-scaler it successfully scales up target, but fails to forward  initial request.
[code]

I'm guessing NAMESPACE is needed in other pods too.....

[2022-01-21 08:20] avinash31d commented on #368
@arschles

Seems like targetPendingRequests property is missing crd.yaml in the latest chart versions 0.2.0 or 0.2.1

I updated it and create a new PR [https://github.com/kedacore/charts/pull/230](here), please review it and merge if usefull.

(This is my first PR in any opensource project, please let me know if I missed something, I will fix it)

I followed the guidelines here [https://github.com

[2022-01-21 09:41] benjaminhuo commented on #368
@arschles hi Aaron, may I know when will v0.3.0 be released? :)
We're interested in this project and we'll see what we can help. @tpiperatgod @wanjunlei

[2022-01-21 09:55] dariuszbz commented on #361
Thank You @arschles .
I understand your explanation. I really do :) and I knew that.

the problem is there is k8sdemo Deployment, and k8sdemo Service. They are in namespace: k8sdemo.
Keda is in different namespace: keda-system.

1.
Where do you want me to install http-add-on: k8s-demo namespace or keda-system namespace.
2.
Where do you want me to put httpscaledobject: k8s-demo or keda-system?

[2022-01-21 19:42] arschles commented on #368
@avinash31d I saw #231 - thanks for submitting that, and good catch! We'll merge it as soon as we can.

@benjaminhuo we're planning on two releases. First, a `v0.2.2` of the charts will be early next week for the bugfix (we don't need to do a release in this repo for that). We're also planning for `v0.3.0` of the HTTP Addon (this repo) by the end of next week as well. I'd do it today, but I don't

[2022-01-21 20:16] arschles commented on #367
@morganchristiansson what about `KEDA_HTTP_OPERATOR_NAMESPACE`? Is it possible to send me the YAML you used to deploy the operator, interceptor and scaler?

[2022-01-22 01:37] avinash31d commented on #368
@arschles even I could have contributed but my bad luck I am not a go developer.

[2022-01-22 22:06] #225 closed

[2022-01-23 05:55] benjaminhuo commented on #368
@arschles Looking forward to the v0.3.0 release :), seems that v0.3.0 is more stable and powerful with the global mode added. Is there any plan or roadmap for post v0.3.0 development?

Regards,
Benjamin

[2022-01-24 10:06] dariuszbz commented on #361
Thank You @arschles .

I've done as you described.

Now the keda-oparator:

2022-01-24T09:54:14.935Z	ERROR	external_scaler	error calling IsActive on external scaler	{"error": "rpc error: code = Unavailable desc = connection error: desc = \"transport: Error while dialing dial tcp: lookup keda-add-ons-http-external-scaler on 10.0.0.10:53: no such host\""}
github.com/kedacore/keda/v2/pkg/scaling.(*sc

[2022-01-24 23:39] #266 closed

[2022-01-25 08:51] whitesource-bolt-for-github[bot] opened #380 "CVE-2020-11023 (Medium) detected in github.com/magefile/mage-v1.12.1"
## CVE-2020-11023 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/magefile/mage-v1.12.1</b></p></summary>

<p>a Make/rake-like dev tool using Go</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/magefile/mage-v1.12.1** (Vulnerable Library)
<p>Found i

[2022-01-25 08:51] whitesource-bolt-for-github[bot] opened #381 "CVE-2020-11022 (Medium) detected in github.com/magefile/mage-v1.12.1"
## CVE-2020-11022 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/magefile/mage-v1.12.1</b></p></summary>

<p>a Make/rake-like dev tool using Go</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/magefile/mage-v1.12.1** (Vulnerable Library)
<p>Found i

[2022-01-25 08:51] whitesource-bolt-for-github[bot] opened #382 "CVE-2015-9251 (Medium) detected in github.com/magefile/mage-v1.12.1"
## CVE-2015-9251 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/magefile/mage-v1.12.1</b></p></summary>

<p>a Make/rake-like dev tool using Go</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/magefile/mage-v1.12.1** (Vulnerable Library)
<p>Found in

[2022-01-25 08:51] whitesource-bolt-for-github[bot] opened #383 "CVE-2019-11358 (Medium) detected in github.com/magefile/mage-v1.12.1"
## CVE-2019-11358 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/magefile/mage-v1.12.1</b></p></summary>

<p>a Make/rake-like dev tool using Go</p>
<p>

Dependency Hierarchy:
  - :x: **github.com/magefile/mage-v1.12.1** (Vulnerable Library)
<p>Found i

[2022-01-26 08:52] dariuszbz commented on #361
@arschles - hello mate. any advice?

[2022-01-27 19:44] arschles commented on #361
sorry @dariuszbz - I was preparing for and then releasing [v0.3.0](https://github.com/kedacore/http-add-on/releases/tag/v0.3.0). Regarding this:

[code]

I suspect something went wrong when the HTTP Addon was installed to your cluster. can you show me the output of your `kubectl get pods` in the `k8s-demo` namespace? it should look something like this:

[code]

Also, now that `v0.3.0` is out, it m

[2022-01-27 19:58] arschles commented on #368
@benjaminhuo v0.3.0 is now [released](https://github.com/kedacore/http-add-on/releases/tag/v0.3.0) 🎉

as for the roadmap for what's next, we have plans for the next two minor releases - v0.4.0 and v0.5.0 - at the [milestones page](https://github.com/kedacore/http-add-on/milestones). [v0.4.0](https://github.com/kedacore/http-add-on/milestone/3) is next. it is mostly a release to improve test covera

[2022-01-27 19:58] #368 closed

[2022-01-27 20:00] arschles commented on #338
@philomory you're right, there are indeed holes in my spec. perhaps you're right and it's best to just duplicate the ingress rules, along with a rule for overlapping wildcard hosts, as you said. I don't know enough of the specifics of those rules and I have to go read up. Do you have any preliminary ideas on what do with overlapping wildcard hosts?

[2022-01-27 20:04] arschles commented on #354
@tomkerkhove my basic ask is to reduce the latency between when a request comes into the cluster and when the external scaler (and thus, KEDA) knows about it. I'd love to see whether we can design something to push appropriate metrics from "edge" (ingress controllers and/or service meshes) to external scaler

[2022-01-27 22:22] #285 closed

[2022-01-27 22:26] arschles commented on #383
Closing - the jquery library reported in this issue is used only to build the mage website. We are not importing or interacting with that code in any way.

[2022-01-27 22:26] #383 closed

[2022-01-27 22:26] arschles commented on #382
Closing - the jquery library reported in this issue is used only to build the mage website. We are not importing or interacting with that code in any way.

[2022-01-27 22:26] #382 closed

[2022-01-27 22:26] arschles commented on #381
Closing - the jquery library reported in this issue is used only to build the mage website. We are not importing or interacting with that code in any way.

[2022-01-27 22:26] #381 closed

[2022-01-27 22:26] arschles commented on #380
Closing - the jquery library reported in this issue is used only to build the mage website. We are not importing or interacting with that code in any way.

[2022-01-27 22:26] #380 closed

[2022-01-28 17:53] arschles commented on #241
Reopening with label to keep the stale bot from closing this. This is still a valid feature that we'd like to explore

[2022-01-31 10:48] dariuszbz commented on #361
Thank You, and appreciate your feedback.
Requested output is as follow:
kubectl get pods -n k8sdemo

NAME                                                              READY   STATUS    RESTARTS   AGE
k8sdemo-845844d7cb-fzjbh                                          1/1     Running   0          2d22h
keda-add-ons-http-controller-manager-866884c8cc-wc6bj             2/2     Running   3          6d1h

[2022-01-31 20:46] arschles commented on #361
ok, thanks for trying that. do you have any network security policies defined in your cluster?

[2022-02-01 09:52] dariuszbz commented on #361
Hi @arschles . Nop. No security. I'm happy to setup a qcall with screen sharing if it helps.

[2022-02-01 17:31] arschles commented on #361
hm, yes let's do that. are you on the Kubernetes slack? if so, can you send me a message so we can set it up? my name is `arschles` (same as my GitHub name)

[2022-02-13 07:26] Abdullah260 opened #396 "Amaa399646@paaet.edu.kw"
A clear and concise description of what you want to happen.

### Use-Case

Tell us more what you'd like to achieve

### Specification

Tell us in detail how this feature should work

[2022-02-14 04:47] leska-j opened #397 "Scaler component restart while multiple HttpScaledObjects"
### Report

When multiple services (usually >5) are deployed with HttpScaledObjects, scaling stops working properly. This looks to be caused by scaler component restarts.

### Expected Behavior

Scaling should be working with any number of depoyments/HttpScaledObjects.

### Actual Behavior

Scaling takes long time to happen or doesn't happen at all(issue is worse with higher number of deployments)

[2022-02-14 06:37] tomkerkhove commented on #396
Closing as the issue template was not filled in. Feel free to re-open with more context

[2022-02-14 06:37] #396 closed

[2022-02-15 19:17] #397 closed

[2022-02-15 21:19] arschles commented on #367
@morganchristiansson are you still interesting in this? If so, I'm happy to continue working to get it solved. Just let me know.

[2022-02-15 21:48] benjaminwood commented on #331
I believe I am experiencing this same issue. We have a Ruby on Rails based web application and we are experimenting with the http-add-on to scale the pods. I believe we have configured everything properly, but redirects are getting mangled by the interceptor.

For example, when the user is logged in, the root path automatically redirects to `/dashboard`. However, when routing traffic through the i

[2022-02-15 23:51] obito commented on #331
Hi, do you have by any chance Apache/NGINX running in your Rails pod, or changing the "Host" in your app?

HTTP-Add-On seems to change the Host header to http://service:port, so you must use the `X-Forwarded-Host` header. WordPress was reading the `Host`header, and redirecting to http://service:port/path.

I fixed that by adding:

[code]

Hope it helps you!

[2022-02-17 23:41] #284 closed

[2022-02-18 00:56] benjaminwood commented on #331
Hey @arschles - thanks for your reply and for re-opening this issue.

The former, I think! My expectation was that the interceptor would be completely transparent. The service/application on the other side of the interceptor should be completely unaware that the request was proxied by the interceptor. Preserving the original host is important to most web application frameworks, at least if the goa

[2022-02-18 17:17] arschles commented on #331
@benjaminwood certainly not. I think this is a bug, and I'll go look into it now.

Thanks both for bringing this up, and for doing so in such a nice way 😄

[2022-02-18 20:36] #20 closed

[2022-02-18 20:36] #323 closed

[2022-02-18 20:37] whitesource-bolt-for-github[bot] opened #403 "CVE-2022-21698 (High) detected in github.com/prometheus/client_golang-v1.11.0"
## CVE-2022-21698 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/prometheus/client_golang-v1.11.0</b></p></summary>

<p>Prometheus instrumentation library for Go applications</p>
<p>

Dependency Hierarchy:
  - github.com/kubernetes-sigs/controller-runti

[2022-02-18 22:16] arschles commented on #331
Please see #404 for a proposed solution to this problem.

[2022-03-06 20:40] morganchristiansson commented on #367
Sorry have been away and other things to focus on. After reinstalling with latest helm charts and default image tags I just got it all to work.

I did not immediately realize ingress should forward to serviceName: keda-add-ons-http-interceptor-proxy and be in keda namespace which caused scale up not to happen.

Thanks this is great.

[2022-03-06 20:40] #367 closed

[2022-03-07 18:49] arschles commented on #367
@morganchristiansson great to hear. out of curiousity, what documentation did you read to get started? I want to make sure wherever you looked is updated to make it clear that the service name to which ingress should forward is `keda-add-ons-http-interceptor-proxy` so that the next person isn't confused

[2022-03-07 19:48] morganchristiansson commented on #367
I was reading the walkthrough https://github.com/kedacore/http-add-on/blob/main/docs/walkthrough.md it does mention ingressNamespace which sets namespace on ingress resource in xkcd example chart. Most charts do not support providing servicename or namespace to ingress. So I'm creat ingress separately from chart.

[2022-03-08 16:49] morganchristiansson commented on #367
Also was it considered to create proxy-interceptor pod per HTTPScaledObject with labels from service selector.

Then ingress and service selector forward to proxy-interceptor pod per service selector
Don't need routing-table configmap - each proxy-interceptor belongs to HTTPScaledObject.
Don't need Host: header - can handle any protocol.
proxy-interceptor pod only needed when scaled to zero. Can t

[2022-03-09 15:17] JorTurFer commented on #364
Nowadays, KEDA supports ARM64 arch, so I can tackle this issue and do the same as I did there.
Do you think it's useful @arschles ?

[2022-03-09 21:04] arschles commented on #364
@morganchristiansson do you still have a use for this? If so, then @JorTurFer I do think it's useful.

[2022-03-10 19:04] morganchristiansson commented on #364
Yeah my home cluster is multi-architecture with Raspberry Pis and 1x fileserver Intel node. But I prefer to run everything on Pis/arm64.

Also I think arm64 is useful for all Raspberry Pi clusters, EKS with AWS Graviton nodes, etc out there

[2022-03-15 18:51] arschles commented on #367
Thanks @morganchristiansson !

[2022-03-15 22:25] morganchristiansson opened #414 "keda-add-ons-http-external-scaler fatal error: concurrent map writes"
### Report

My keda-add-ons-http-external-scaler pod is crashlooping with `fatal error: concurrent map writes` error. See below for full output:

I'll keep digging but thought it's worth reporting. May try reinstall again. Not sure what map it's referring to?

Sorry for long output I can move it to github gist instead? Or delete all except first goroutine trace?

[code]

### Expected Behavior

Not

[2022-03-16 19:36] arschles commented on #414
thanks for this @morganchristiansson, I'll look into this as well. the trace helps greatly

[2022-03-18 12:44] stefanbulzan commented on #414
I encountered the same issue. I'm looking forward to see this issue fixed as it makes the addon unreliable. Thank you!

[2022-03-18 19:49] arschles commented on #414
@morganchristiansson @stefanbulzan #415 should fix this.

[2022-03-21 10:55] stefanbulzan commented on #414
@arschles I tested it with a locally build image from the fix branch. Looks good, doesn't fail anymore and scaling works. Brilliant! Thank you. I'm looking forward to have this in 0.4.0 hopefully.

[2022-03-22 16:57] arschles commented on #414
Yup, this will be in 0.4.0 for sure 👍

[2022-03-22 18:58] #414 closed

[2022-03-22 19:01] arschles commented on #414
@stefanbulzan @morganchristiansson now that #415 is merged, you should see the fix in the `canary` images as well as the images tagged with `sha-2d35d0d` after they are done building (within a few minutes from now)

[2022-03-22 19:04] arschles commented on #338
@philomory thanks for this detail. This gives me an idea - I wonder if we should simply reference an `Ingress` from the `HTTPScaledObject`. I would hate to re-implement all of these rules and keep them current with changes going forward.

With this scheme, `HTTPScaledObject`s would keep the information on the backing `Deployment`, but the addon would read the referenced `Ingress` for all the routi

[2022-03-23 16:16] SteveRiceUK opened #424 "Http External Scaler failing"
### Report

The Http external scaler pod continuously restarts every 10-15 minutes with the following error...
fatal error: concurrent map writes

This is with only one http scaled object configured.

Any help appreciated.

### Expected Behavior

Pod to continuously run.

### Actual Behavior

Pod continuously restarts.

### Steps to Reproduce the Problem

1.
2.
3.

### Logs from KEDA HTTP operator

[2022-03-24 17:50] arschles commented on #424
Hi @SteveRiceUK - this was fixed in #414, but has not been released officially yet. Expect to see that fix in v0.4.0. Until then, you can use images tagged `canary` or `sha-2d35d0d` (see https://github.com/kedacore/http-add-on/issues/414#issuecomment-1075521557 for details).

[2022-03-24 17:50] #424 closed

[2022-03-25 02:45] philomory commented on #338
@arschles For the project, that does sound like a great idea (although it may become more complicated once the Gateway API is GA, since, _then_ what do you do? I guess you could reference by `kind`, in the same way that KEDA itself can have `scaleTargetRef`s with other `kinds` than `Deployment`s).

The only problem I see is that, currently, `HTTPScaledObject` is like a much-simplified version of I

[2022-04-09 18:13] #361 closed

[2022-04-15 03:30] JieDing opened #432 "error on backend (net/http: timeout awaiting response headers)"
### Report

I am using http-add-on and creating a HTTPScaledObject successfully. The scaled deployment scales down to 0 at first. And once I curl the http-interceptor-proxy via ingress, it reported an error:
error on backend (net/http: timeout awaiting response headers)
but the container is scaled up to 1 successfully.
The weird thing is that, only the first curl will report this error, and other

[2022-04-19 08:56] tpiperatgod commented on #432
It commonly takes a long time for a workload to start up for the first time (i.e., from 0 to 1 replica), a process called **cold start**. This is probably the issue you are facing.

Perhaps you can try to solve this problem by adjusting the [timeout-related](https://github.com/kedacore/http-add-on/blob/v0.3.0/interceptor/config/timeouts.go#L11) parameters. Such as this parameter: https://github.co

[2022-04-20 02:57] JieDing commented on #432
@tpiperatgod thx for your reply.
I tried to set the `responseHeaderTimeout` when I installed the keda-http-on :
`helm install http-add-on kedacore/keda-add-ons-http --set responseHeaderTimeout=5s`
Then I re-start the whole process again. This time when I curl the ingress controller for the first time, it errored again:
`error on backend (net/http: timeout awaiting response headers)`
And it absolut

[2022-04-21 09:06] tpiperatgod commented on #432
Hi, @JieDing You can find these parameters in the deployment's configuration:

[code]

Use the `kubectl edit` command to modify them directly to take effect.

But I didn't reproduce the problem...🥲 So I'm not really sure if these parameters are relevant to the problem you are facing.

Perhaps you could post the configuration of all the deployments of `keda-add-ons-http-*`

[2022-04-22 16:42] JieDing commented on #432
@tpiperatgod That does work dude! Thx so much for your patient help.

[2022-04-22 16:43] #432 closed

[2022-04-25 21:53] arschles commented on #432
thanks @tpiperatgod !

[2022-05-05 04:32] raulsh opened #438 "Support for scaling custom resources and statefulset"
Based on the docs and issues, there is no way to scale another kind of resources besides Deployments.  We need scale rollouts (CRD of Argo Rollouts). Even, we use core KEDA to scale rollouts.

### Use-Case

We use Argo Rollouts, so in Keda we can specify the Kind of the resource (https://keda.sh/docs/2.6/concepts/scaling-deployments/). This addon must scale any CRD/Resource with /scale subresource

[2022-05-05 08:00] tomkerkhove commented on #438
Just out of curiosity - How is HTTP scaling required for Argo Rollouts? (I'm not an argo expert)

[2022-05-06 22:49] #403 closed

[2022-05-10 06:31] raulsh commented on #438
Rollouts resources are similar to native Deployment resources. They are managed by Argo Rollout controller. The difference is that rollouts support Blue/Green and Canary deployments (and other functions). This addon must scale any CRD/Resource with /scale subresource (Statefulset or Argo Rollout resource).

[2022-05-10 08:21] tomkerkhove commented on #438
And those rollouts are being consumed over HTTP then? I'm just asking because I'm not sure why this is a problem for the HTTP add-on and why vanilla KEDA can't help you on this as that's supported there.

[2022-05-10 17:15] raulsh commented on #438
Yes... we use to deploy HTTP workloads (APIs, monoliths, etc). But, why the question? That's not the addon purpose? or am I misunderstanding something? (i'm not a english native speaker, sorry)

In fact, this is the perfect solution to our case. Because we have HTTP workloads that have multiple containers, but doesnt have a centralized queue to manage request and manage pending requests properly (

[2022-05-11 08:35] tomkerkhove commented on #438
I was just curious about your scenario because my lack of experience with Argo Rollouts :)

Then you are in the right place! Let's add this to our features and see when we can add this - Thanks!

[2022-05-11 11:44] tomkerkhove opened #446 "Provide more advanced backlog"
Provide more advanced backlog for better tracking work and across different areas/prios/etc.

## Tasklist

- [x] Create GitHub Project
- [x] Auto-add to GitHub Project
- [x] Provide categories and different views
- [x] Document roadmap in this repo
- [x] Document roadmap in governance repo
- [x] Setup new roadmap planning for v1.0 and beyond

[2022-05-11 11:53] tomkerkhove opened #447 "Provide automated load testing to benchmark performance of intercepting"
Provide automated load testing to benchmark performance of intercepting.

We can use Artillery, Azure Load Testing, etc.

[2022-05-11 11:56] tomkerkhove opened #448 "Provide way for end-users to become listed end-user"
Provide adopters file for companies to get listed and measure adoption, or see if we can add this as part of our keda.sh communtiy

[2022-05-11 12:14] tomkerkhove commented on #97
Any update on this?

[2022-05-11 12:23] tomkerkhove commented on #321
I think OpenTelemetry should maybe be the new default. Thoughts?

[2022-05-11 12:24] tomkerkhove commented on #446
https://github.com/orgs/kedacore/projects/6/views/4

[2022-05-11 14:05] ajanth97 commented on #97
Hi Sorry, I will work on this soon

[2022-05-13 15:19] arschles commented on #97
FWIW, I think it still is 😄

[2022-05-13 15:36] arschles commented on #160
@Ritikaa96 nobody is working on it as far as I know, so please go ahead if you'd like. Ideally, they would walk a reader through how to set up one, two or all three of the components (as appropriate) to run successfully outside of a cluster.

[2022-05-17 19:26] whitesource-bolt-for-github[bot] opened #453 "CVE-2021-25741 (High) detected in github.com/kubernetes/utils-3a6ce19ff2f91f3dc49243f90f7834a0f1e4aaf3"
## CVE-2021-25741 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/kubernetes/utils-3a6ce19ff2f91f3dc49243f90f7834a0f1e4aaf3</b></p></summary>

<p>Non-Kubernetes-specific utility libraries which are consumed by multiple projects.</p>
<p>

Dependency Hiera

[2022-05-30 01:07] mend-bolt-for-github[bot] opened #457 "CVE-2022-28948 (High) detected in github.com/kubernetes-sigs/yaml-v1.3.0 - autoclosed"
## CVE-2022-28948 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/kubernetes-sigs/yaml-v1.3.0</b></p></summary>

<p>A better way to marshal and unmarshal YAML in Golang</p>
<p>

Dependency Hierarchy:
  - github.com/kubernetes/apimachinery-v0.24.1 (Root L

[2022-06-03 10:11] Ritikaa96 commented on #160
Hi @arschles , I have added the documentation in [here](https://github.com/Ritikaa96/http-add-on/blob/local-testing-http-addon/CONTRIBUTING.md#locally-build--deploy-keda-http-addon). Please have a look and let me know if there is anything to change.

[2022-06-06 11:11] Ritikaa96 commented on #160
Just a gentle reminder @arschles @tomkerkhove PTAL at this:

[2022-06-07 05:11] #446 closed

[2022-06-07 05:13] tomkerkhove commented on #160
I think that's a good start, thank you! Any comments from your side @asw101?

[2022-06-09 09:37] Ritikaa96 commented on #160
@tomkerkhove should i raise a PR then? @asw101 @arschles PTAL

[2022-06-09 11:17] tomkerkhove commented on #160
Certainly, thank you!

[2022-06-10 08:09] #448 closed

[2022-06-10 11:19] isugimpy commented on #447
Very much interested to know more about the performance of this component.  Seems like it has potential, but also could very easily be a bottleneck at scale.

[2022-06-11 01:06] mend-bolt-for-github[bot] opened #468 "CVE-2022-1996 (High) detected in github.com/emicklei/go-restful-v2.9.5"
## CVE-2022-1996 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/emicklei/go-restful-v2.9.5</b></p></summary>

<p>package for building REST-style Web Services using Go</p>
<p>

Dependency Hierarchy:
  - k8s.io/client-go-v0.24.3 (Root Library)
    - githu

[2022-06-11 01:06] #457 closed

[2022-06-15 09:11] #160 closed

[2022-06-22 12:07] shalev123d commented on #48
Hey, we're experiencing this issue as well -
docker pull ghcr.io/kedacore/keda-metrics-apiserver:2.7.1 -
[code]

[2022-06-22 21:20] hgpepco opened #476 "HTTP add-on: Error in interceptor while waiting for the backend pod to be up and running"
Currently trying keda http-add-on v0.3. and keda v2.5.1 I am facing 2 issues,

1. No healthy upstream error for the first try and the subsequent tries, the request is served.(Updated the KEDA_CONDITION_WAIT_TIMEOUT)
2. In the interceptor I see this error when it need to wait for the backend to be up and running. Also below is the interceptor configuration.

`{"level":"error","ts":1655424772.586573

[2022-06-27 05:46] v-shenoy commented on #238
I am currently working on this.

[2022-06-28 14:41] arschles commented on #476
@hgpepco are you seeing a backend pod get created after you issue the first request to the interceptor?

[2022-07-05 12:39] JieDing opened #481 "keda-add-ons-http-external-scaler pod won't work after installation"
### Report

I try to install http-add-on via helm, but keda-add-ons-http-external-scaler won't work after installation.

I use the following command to install latest version of http-add-on:

[code]

I copied the command from the [install.md](https://github.com/kedacore/http-add-on/blob/main/docs/install.md) .

### Expected Behavior

[code]

### Actual Behavior

[code]

### Steps to Reproduce the

[2022-07-10 19:26] philomory commented on #338
I don't think this is stale, exactly, although personally I'm investigating at this point using a service mesh (linkerd) to scale off of traffic metrics as an alternative to using the KEDA http-add-on (there will probably be cases that the http-add-on adresses that service mesh metrics do not, and vice versa, but I don't think any of them apply to my situation specifically).

[2022-07-14 03:46] unzld opened #482 "Routing table only shows for the first deployment"
### Report

I have two deployments I wish to scale, a frontend (site front) and a backend (for API requests etc). For testing purposes these two are just simple containers that prints out hello world. I have two sets of deployments, services, ingress, and HTTPScaledObjects. I am also using ingress-nginx. I am able to scale any one of them if I remove the other.

[code]

Here I just set `intercepto

[2022-07-14 07:40] tomkerkhove commented on #482
Thanks for the report!

[2022-07-14 09:41] KowsikRS opened #489 "Provide support for autoscaling based on HTTP response time"
Keda autoscaling based on HTTP response time. If there is a delay in response time , KEDA should auto-scale the pods

[2022-07-14 12:56] unzld commented on #482
I think this could be related to #338.

[2022-07-15 11:00] v-shenoy commented on #476
Sorry for the delayed response. I'll take a look at it.

[2022-07-15 19:35] nrukavkov commented on #489
I think it could be worst for k8s cluster because we do not know the reason why response time is growing. It could be critical cpu usage and then autoscaling based on HTTP response time could make it worse

[2022-07-15 19:39] nrukavkov commented on #476
The same problem. May be my log will be helpfull

[code]

[2022-07-18 07:59] nrukavkov commented on #476
@hgpepco standart nginx ingress contoller

[2022-07-18 08:49] kowsik1994 commented on #489
If CPU usage is critical you can add CPU trigger for autoscaling

[2022-07-21 08:48] leska-j opened #490 "Multi scale service deployment issues"
### Report

We observe scaling and performance issues in cluster with multiple deployments of scaled service.
- big and inconsistent delay on first request
- inconsistent duration to disable service(scaling to 0)

This issue is happening in aws but we were also able to reproduce it locally https://github.com/leska-j/scaling-issues-reproduction

### Expected Behavior

Services are scaled to 0 in co

[2022-08-01 06:59] mend-bolt-for-github[bot] opened #492 "CVE-2022-29526 (Medium) detected in github.com/nxadm/tail-v1.4.8 - autoclosed"
## CVE-2022-29526 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/nxadm/tail-v1.4.8</b></p></summary>

<p>[Revamped] Go package for reading from continuously updated files (tail -f)</p>
<p>

Dependency Hierarchy:
  - github.com/onsi/ginkgo-v1.16.5 (Roo

[2022-08-04 07:43] havardzzl opened #494 "Can we support timeout setting in HTTPScaledObject"
sometimes my http server respond slow, it return a error: error on backend (net/http: timeout awaiting response headers)
### Use-Case

Tell us more what you'd like to achieve
Can the timeout duration been set in the HTTPScaledObject
### Specification

Tell us in detail how this feature should work

[2022-09-07 08:37] abhishektvz opened #510 "fatal error: concurrent map writes"
### Report

`{"level":"info","ts":1662539420.6792893,"logger":"startHealthcheckServer","caller":"scaler/main.go:216","msg":"starting health check server","addr":"0.0.0.0:9091"}
{"level":"info","ts":1662539420.6795864,"caller":"scaler/main.go:144","msg":"starting grpc server","address":"0.0.0.0:9090"}
fatal error: concurrent map writes

goroutine 151 [running]:
runtime.throw({0x180ee20, 0x7000103})

[2022-09-07 14:51] arun-tvz opened #511 "keda-add-ons-http-external-scaler keep on restarting"
### Report

I've Installed keda and keda Http added using helm, there our keda-add-ons-http-external-scaler keeps on restarting frequently.

### Expected Behavior

keda-add-ons-http-external-scaler-6ffbfb7bc5-qzkmn     1/1     Running   0          15m

### Actual Behavior

keda-add-ons-http-external-scaler-6ffbfb7bc5-qzkmn     0/1     CrashLoopBackOff   6          15m

### Steps to Reproduce the P

[2022-09-08 05:55] arun-tvz commented on #511
Reinstalled the deployment its working now, hence closing the issue.

[2022-09-08 05:55] #511 closed

[2022-09-09 08:15] huang-jy opened #512 "deployments/keda-add-ons-http-external-scaler crashloops after deploying multiple httpscaledobjects simultaneously"
### Report

I am experimenting with the http scaler and I like what I see, so I tried to use it with one of my own deployments and soon noticed some bizarre behaviours.

When I deploy using a single config via helm, (code later), keda seems fine and behaves as normal

When I deploy using multiple configs in a `range` loop with Helm, Keda will start to crash loop.

If I can get the curl command int

[2022-09-09 18:27] #492 closed

[2022-09-10 15:47] #481 closed

[2022-09-19 01:20] vitobotta commented on #489
I would like scaling based on response time too or something like that. Besides that, how can I combine an HTTPScaledObject with CPU metrics for scaling? Thanks

[2022-09-19 06:36] tomkerkhove commented on #489
@arschles Does our current spec allow scaling with other built-in KEDA scalers? I don't think so? If it does not, I'll open an issue

[2022-09-21 23:06] #482 closed

[2022-09-26 07:43] lsascha commented on #510
very similar issue, except it says `fatal error: concurrent map read and map write`

Log:
[keda-add-ons-http-external-scaler-5575f94db-5z2xt.log](https://github.com/kedacore/http-add-on/files/9643973/keda-add-ons-http-external-scaler-5575f94db-5z2xt.log)

After some crashloops it seems it eventually starts without error. I have 2 Pods connected with it to scale from zero using ingress.

Kubernetes

[2022-09-26 15:58] #490 closed

[2022-10-01 05:12] gtskaushik commented on #338
This is a very crucial feature so that Keda http-add-on and ingress objects work in tandem. This issue should be re-opened

[2022-10-04 00:33] #476 closed

[2022-10-11 01:08] #494 closed

[2022-10-18 11:27] christidis commented on #510
Same issue with @lsascha
fatal error: concurrent map read and map write
Full log: https://pastebin.com/raw/NCaf3zhK

I have ~ 3 deployments scaled to zero using Ingress.
I am struggling to keep http-external-scaler up and running, when external scaler is down then all scaled to zero deployments wont scale up.

[2022-10-27 09:20] nrukavkov opened #535 "cut headers"
### Report

I installed grafana in k8s using custom helm chart (with ingress and external url) - and everything works fine. Then I added http keda addon and now I'm getting an error: origin not allowed. I suppose it is happened because http addon erase headers.

### Expected Behavior

Do not erase headers.

### Steps to Reproduce the Problem

Install grafana to k8s and integrate keda addon to it.

[2022-10-27 09:36] nrukavkov commented on #535
Host Header is not correct
<img width="1497" alt="image" src="https://user-images.githubusercontent.com/54890287/198249386-d5e5da92-9bd9-4f5b-b4f2-ebb2070f5c46.png">

[2022-11-15 05:58] chairwa commented on #364
kedacore/keda-add-ons-http not support arm64 architecture yet ?

[2022-11-15 07:35] JorTurFer commented on #364
No it doesn't. The project has been a bit frozen last months:  https://github.com/kedacore/http-add-on/discussions/523
Once it starts again, I added e2e tests to ensure the behavior, but I didn't add ARM64 support yet

[2022-11-15 07:36] jimmyforrest opened #545 "Provide support for path-based routing"
### Use-Case
If I have 2 service A and B, and want to use url myhost.com/a to access A service, use myhost.com/b to access B service, how could I do ?

[2022-11-15 09:41] #512 closed

[2022-11-16 03:32] #468 closed

[2022-11-16 03:51] chairwa commented on #364
I'm new to keda now.

[2022-11-25 06:44] JerryWang20 commented on #481
i met the same issue, what's the solution for it?

[2022-11-25 14:53] miguelvr commented on #438
@tomkerkhove I would like to work on this. From my pass on the code, it's a fairly big change that probably requires a design proposal. What is the process to propose a design for a new feature?

[2022-11-28 09:33] tomkerkhove commented on #438
Sounds like a good idea! We typically use Google Docs so that everyone can add comments ([example](https://docs.google.com/document/d/14Z04AWiMBkSX88uiaVS-kg-8QjjNcDhVy6-u5FMUk_w/edit))